<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="AdminGen/fragments/generalAdmin.html :: head_page( page_name = 'Reporte Ventas')"></head>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Sidebar -->
    <ul th:replace="AdminGen/fragments/generalAdmin.html :: topbar" ></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin of Topbar -->
            <nav th:replace="AdminGen/fragments/generalAdmin.html :: navbar(notificaciones=${notificaciones})"></nav>

            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <form th:action="@{/admin/ReporteVentas}" method="get">

                    <div class="form-group row">
                        <div class="col-sm-3 mb-1" >
                            <input type="text" class="form-control" name="texto"
                                   th:value="${texto.equals('')?'':texto}"
                                   th:placeholder="${texto.equals('')?'Búsqueda por Restaurante - RUC':texto}">
                        </div>
                        <div class="col-sm-2 mb-1">
                            <select class="form-control" name="cantidad">
                                <option value="7" th:selected="${cantidad.equals('7')}">Cantidad</option>
                                <option value="0" th:selected="${cantidad.equals('0')}">0 a 100</option>
                                <option value="1" th:selected="${cantidad.equals('1')}">101 a 200</option>
                                <option value="2" th:selected="${cantidad.equals('2')}">201 a 300</option>
                                <option value="3" th:selected="${cantidad.equals('3')}">301 a 400</option>
                                <option value="4" th:selected="${cantidad.equals('4')}">401 a 500</option>
                                <option value="5" th:selected="${cantidad.equals('5')}">501 a 600</option>
                                <option value="6" th:selected="${cantidad.equals('6')}">más de 600</option>
                            </select>
                        </div>

                        <!--<div class="col-sm-auto mb-1">
                            <select class="form-control">
                                <option value="">Fecha</option>
                                <option value="">Última Hora</option>
                                <option value="">Hoy</option>
                                <option value="">Esta semana</option>
                                <option value="">Este mes</option>
                                <option value="">Este año</option>
                            </select>
                        </div>-->

                        <div class="col-sm-2 mb-1">
                            <select class="form-control" name="monto">
                                <option value="0" th:selected="${monto.equals('0')}">Monto</option>
                                <option value="1" th:selected="${monto.equals('1')}">S/0 a S/2000</option>
                                <option value="2" th:selected="${monto.equals('2')}">S/2001 a S/4000</option>
                                <option value="3" th:selected="${monto.equals('3')}">S/4001 a S/6000</option>
                                <option value="4" th:selected="${monto.equals('4')}">S/6001 a S/8000</option>
                                <option value="5" th:selected="${monto.equals('5')}">S/8001 a S/10000</option>
                                <option value="6" th:selected="${monto.equals('6')}">mayores a S/10000</option>
                            </select>
                        </div>

                        <div class="col-sm-2 mb-1">
                            <select class="form-control" name="valoracion">
                                <option value="0" th:selected="${valoracion.equals('0')}">Valoracion</option>
                                <option value="6" th:selected="${valoracion.equals('6')}">0</option>
                                <option value="1" th:selected="${valoracion.equals('1')}">1</option>
                                <option value="2" th:selected="${valoracion.equals('2')}">2</option>
                                <option value="3" th:selected="${valoracion.equals('3')}">3</option>
                                <option value="4" th:selected="${valoracion.equals('4')}">4</option>
                                <option value="5" th:selected="${valoracion.equals('5')}">5</option>
                            </select>
                        </div>

                        <div class="input-group-append col-sm-1 mb-3 ml-0">
                            <button class="btn" style="background-color:#701111; color:white; border:#701111" type="submit">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                        <div class="col-sm-2 mb-1 ml-0" style="text-align: right">
                            <a th:href="@{/admin/ReporteVentas}" class="btn btn-secondary">Quitar filtros</a>
                        </div>
                    </div>


                </form>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <div class="d-sm-flex align-items-center justify-content-between">

                            <h2 class="font-weight-bold text-white text-lg-center mx-auto " id="nombre_pagina">REPORTE DE VENTAS POR RESTAURANTE </h2>
                            <button th:if="${listaUsuarios.size() > 0}" class="btn btn-warning mr-1" id="btnExportar">Exportar</button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div th:if="${listaUsuarios.size() > 0 && listaUsuarios != null}" class="table-responsive">
                            <table class="table " th:if="${listaUsuarios.size() != 0 || listaUsuarios != null}"
                                   style="background-color:#F2E2AA; border-color:#F2E2AA ">
                                <thead>
                                <tr>
                                    <th style="color:black">
                                        TOP 1 RESTAURANTE CON MAS VENTAS
                                    </th>
                                    <th style="color:black">
                                        TOP 1 RESTAURANTE CON MENOS VENTAS
                                    </th>
                                </tr>
                                </thead>
                                <tbody >

                                <tr>
                                    <td
                                        style="color:black"  th:text="${topMas== null  ? '-': topMas.getNombre()}"></td>

                                    <td style="color:black"  th:text="${topMenos== null  ? '-': topMenos.getNombre()}"></td>
                                </tr>
                                <tr>
                                    <td th:if="${topMas!= null}"
                                        style="color:black"  th:text="|Cantidad de Pedidos:  ${topMas== null  ? '-': topMas.getCantidadpedidos()}|"></td>

                                    <td th:if="${topMenos!=null}" style="color:black"  th:text="|Cantidad de Pedidos: ${topMenos== null  ? '-': topMenos.getCantidadpedidos()}|"></td>
                                </tr>
                                <tr>
                                    <td th:if="${topMas!= null}"
                                        style="color:black"  th:text="|Monto Total: S/ ${topMas== null  ? '-': topMas.getTotal()}|"></td>

                                    <td th:if="${topMenos!=null}" style="color:black"  th:text="|Monto Total: S/ ${topMenos== null  ? '-': topMenos.getTotal()}|"></td>
                                </tr>

                                </tbody>

                            </table>

                            <table id="tabla" class="table table-bordered" th:if="${listaUsuarios.size() != 0 || listaUsuarios != null}" >
                                <thead>
                                <tr>
                                    <th class="text-center">
                                        N°
                                    </th>
                                    <th class="text-center">
                                        Restaurante
                                    </th>
                                    <th class="text-center">
                                        Ruc
                                    </th>
                                    <th class="text-center">
                                        Cantidad de ventas
                                    </th>
                                    <th class="text-center">
                                        Monto total (S/)
                                    </th>
                                    <th class="text-center">
                                        Valoración
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each= "usuario, v : ${listaUsuarios}">
                                    <td th:text="${(current -1)*10 + v.index +1}" class="text-center" style="width: 60px">1</td>


                                    <td th:text="${usuario.getNombre()}" class="text-center" style="width: 240px"></td>
                                    <td th:text="${usuario.getRuc()}" class="text-center" style="width: 260px"></td>
                                    <td th:text="${usuario.getCantidadpedidos()}" class="text-center" style="width: 240px"></td>
                                    <td  th:text="|S/ ${usuario.getTotal()}|" class="text-center" style="width: 160px"></td>
                                    <td  th:text="${usuario.getValoracion()==null ? 'Sin Valoración' : usuario.getValoracion() }" class="text-center" style="width: 60px"></td>
                                </tr>


                                </tbody>
                            </table>

                        </div>
                        <div th:if="${estadoBuscador == 1 && (listaUsuarios.size() == 0 || listaUsuarios == null)}">
                            <h3 class="text-lg-center text-danger">No hay resultados para su búsqueda.</h3>
                        </div>
                        <div th:if="${estadoBuscador == 0 && (listaUsuarios.size() == 0 || listaUsuarios == null)}">
                            <h3 class="text-lg-center text-danger">No hay resultados.</h3>
                        </div>
                        <div class="row" th:if="${listaUsuarios.size() != 0 || listaUsuarios != null}" >
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <nav aria-label="pagination">
                                    <ul class="pagination justify-content-center">
                                        <!--  <li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
                                              <a class="page-link" th:href="@{|/admin/ReporteVentasPagina/?page=${prev}|}">Anterior</a>
                                          </li>-->
                                          <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                                              <a class="page-link" th:href="@{|/admin/ReporteVentasPagina/?page=${page}|}" th:text="${page}"></a>
                                          </li>
                                        <!--      <li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
                                                   <a class="page-link" th:href="@{|/admin/ReporteVentasPagina/?page=${next}|}">Siguiente</a>
                                               </li>-->
                                           </ul>
                                       </nav>
                                   </div>
                                   <div class="col-md-2"></div>
                               </div>
                           </div>
                       </div>

                <!--<div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <div class="d-sm-flex align-items-center justify-content-between">

                            <h5 class="font-weight-bold text-white text-lg-center mx-auto">TOP VENTAS POR RESTAURANTES</h5>

                        </div>

                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="container-fluid">

                <div class="row">
                    <div class="col-auto">
                        <hr/>
                        <div class="review-block">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                    <div class="review-block-name"><b href="#">TOP #1 <br/> Más Ventas</b></div>

                                </div>
                                <div class="col-sm-9">
                                    <div class="review-block-rate">
                                            <span class="fa fa-star text-warning" style=" margin-right:5px;"></span>
                                        <span class="fa fa-star text-warning" style=" margin-right:5px;"></span>
                                        <span class="fa fa-star text-warning" style=" margin-right:5px;"></span>
                                        <span class="fa fa-star text-warning" style=" margin-right:5px;"></span>
                                        <span class="fa fa-star" style=" margin-right:5px;"></span>


                                    </div>
                                    <div class="review-block-title"><b>Mi Barrunto</b> </div>
                                    <div class="review-block-name"><b>
                                        <span class="fa fa-user" style=" margin-right:5px;"></span> Cantidad de ventas: </b>
                                            1,050,008
                                     </div>
                                    <div class="review-block-name"><b>
                                        <span class="fa fa-coins" style=" margin-right:5px;"></span> Monto total: </b>
                                            S/ 1,050,008
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                    <div class="review-block-name"><b href="#">TOP #1</b></div>
                                    <div class="review-block-name">Menos Ventas<br/>
                                        <span class="fa fa-user" style=" margin-right:5px;"></span> 1,050,008 total de ventas
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="review-block-rate">
                                        <span class="fa fa-star text-warning" style=" margin-right:5px;"></span>
                                        <span class="fa fa-star" style=" margin-right:5px;"></span>
                                        <span class="fa fa-star" style=" margin-right:5px;"></span>
                                        <span class="fa fa-star " style=" margin-right:5px;"></span>
                                        <span class="fa fa-star" style=" margin-right:5px;"></span>
                                    </div>
                                    <div class="review-block-title"><b>Leñas y carbon</b> </div>
                                    <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            </div>
                        </div>
                    </div>
                </div>-->


                <!--  <div class="card shadow mb-4">
                      <div class="card-header py-3 " style="background-color: #701111;">

                          <div class="d-sm-flex align-items-center justify-content-between">

                              <h5 class="font-weight-bold text-white text-lg-center mx-auto">TOP CLIENTES</h5>

                          </div>

                      </div>
                      <div class="card-body">
                          <div class="container-fluid">
                              <div class="container-fluid">

                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="row">


                                          </div>


                                      </div>
                                      <div class="col-sm-6 mx-auto " style="position: relative; left: 25%">
                                          <h5  style="color: black">Total de pedidos</h5>
                                      </div>
                                  </div>


                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="row">
                                              <div class="col">
                                                  <div class="row">

                                                      <h4  style="color: black">CLIENTE CON MÁS PEDIDOS</h4>
                                                  </div>
                                                  <div class="row">

                                                      <div th:text="${listaClienteConMasPedidos.getNombres() == null ? 'No hay': listaClienteConMasPedidos.getApellidos() +','+listaClienteConMasPedidos.getNombres() }"> </div>

                                                  </div>

                                              </div>


                                          </div>


                                      </div>
                                      <div class="col-sm-6 mx-auto" style="position: relative; left: 25%">
                                          <h4 th:text="${listaClienteConMasPedidos.getNombres() == null ? 'No hay': listaClienteConMasPedidos.getCantpedidos()}" style="color: black"> </h4>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="row">

                                              <div class="col">
                                                  <div class="row">

                                                      <h4  style="color: black">CLIENTE CON MENOS PEDIDOS</h4>
                                                  </div>
                                                  <div class="row">
                                                      <div th:text="${listaClienteConMenosPedidos.getNombres() == null ? 'No hay': listaClienteConMenosPedidos.getApellidos() +','+listaClienteConMenosPedidos.getNombres() }"> </div>

                                                  </div>

                                              </div>




                                          </div>


                                      </div>
                                      <div class="col-sm-6 mx-auto" style="position: relative; left: 25%">
                                          <h4 th:text="${listaClienteConMenosPedidos.getNombres() == null ? 'No hay': listaClienteConMenosPedidos.getCantpedidos() }" style="color: black"> </h4>
                                      </div>
                                  </div>

                              </div>

                          </div>
                      </div>

                  </div>-->
            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="containerta my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleecionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/js/exportar.js}"></script>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" ></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/bootstrap/vendor/jquery-easing/jquery.easing.min.js}" ></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/vendor/bootstrap/js/sb-admin-2.min.js}" ></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" ></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script  th:src="@{/js/demo/datatables-demo.js}"></script>

</body>

</html>
