<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="AdminGen/fragments/generalAdmin.html :: head_page( page_name = 'Solicitudes')"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="AdminGen/fragments/generalAdmin.html :: topbar" ></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="AdminGen/fragments/generalAdmin.html :: navbar"></nav>
            <!-- End of Topbar -->
            <style>
                .containerta {
                    padding: 2rem 0rem;
                }

                h4 {
                    margin: 2rem 0rem 1rem;
                }

                .table-image
                td, th {
                    vertical-align: middle;
                }

            </style>
            <!-- Begin Page Content -->
            <div class="container-fluid justify-content-center">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <h2 class="font-weight-bold text-white text-lg-center mx-auto ">Solicitudes</h2>
                        </div>

                    </div></div>

                    </div>
                    <div class="containerta">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-image table-responsive">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 50px">N°</th>
                                        <th scope="col" style="width: 600px">Image</th>
                                        <th scope="col" style="width: 700px">Datos</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="usuario, v : ${listaUsuariosSolicitudes}">
                                        <td scope="row" th:text="${v.index+1}">1</td>
                                        <td class="w-25">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4nu4ej6fgxyPM8v---fOhOQg7Tw8xPTudfVYqogq6noeuNjCeBIrXhhUsakfeneVNFPI&usqp=CAU" class="img-fluid img-thumbnail" alt="Sheep">
                                        </td>
                                        <td><div class="table-responsive">
                                            <table class="table table-bordered ">

                                                <tbody>
                                                <tr>
                                                    <td th:text="|Fecha de Registro: ${usuario.fecharegistro}|">Fecha de Registro: 20/01/3113</td>
                                                    <td th:text="|Estado: ${usuario.estado}|">Estado: Pendiente </td>
                                                </tr>
                                                <tr>
                                                    <td th:text="|Nombre: ${usuario.nombres}|">Nombre: Martin Alvaro</td>
                                                    <td th:text="|DNI: ${usuario.dni}|">DNI: 12345678</td>
                                                </tr>
                                                <tr>

                                                    <td th:text="|Apellidos: ${usuario.apellidos}|">Apellidos: Lopez Flores</td>
                                                    <td th:text="|Sexo: ${usuario.sexo}|">Sexo: Masculino </td>

                                                </tr>
                                                <tr>
                                                    <td>Correo: example@gmail.com</td>
                                                    <td th:text="|Teléfono: ${usuario.telefono}|">Teléfono: 32325164564 </td>
                                                </tr>
                                                <div th:each="movilidad : ${listaMovilidades}">
                                                    <tr th:if="${movilidad.usuario.idusuario == usuario.idusuario}">
                                                        <td th:text="|Movilidad: ${movilidad.tipoMovilidad.tipo}|">Movilidad: Moto</td>
                                                        <td>
                                                            <a href="#" class="btn btn-success btn-circle btn-sm">
                                                                <i class="fas fa-check"></i>
                                                            </a>
                                                            <a href="#" class="btn btn-danger btn-circle btn-sm">
                                                                <i class="fas fa-times"></i>
                                                            </a>
                                                            <a href="#" class="btn btn-warning btn-circle btn-sm">
                                                                <i class="fas fa-info"></i>
                                                            </a>
                                                        </td>

                                                    </tr>
                                                </div>
                                                </tbody>

                                            </table>




                                        </div>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td class="w-25">
                                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-5.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                                        </td>
                                        <td><div class="table-responsive">
                                            <table class="table table-bordered ">

                                                <tbody>
                                                <tr>

                                                    <td>Fecha de Registro: 20/01/3113</td>
                                                    <td>Estado: Pendiente </td>
                                                </tr>
                                                <tr>

                                                    <td>Nombre: Martin Alvaro</td>
                                                    <td>DNI: 12345678
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td>Apellidos: Lopez Flores</td>
                                                    <td>Sexo: Masculino
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td>Correo: asdddd@gmail.com</td>
                                                    <td>
                                                        <a href="#" class="btn btn-success btn-circle btn-sm">
                                                            <i class="fas fa-check"></i>
                                                        </a>
                                                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                        <a href="#" class="btn btn-warning btn-circle btn-sm">
                                                            <i class="fas fa-info"></i></a>
                                                    </td>

                                                </tr>
                                                </tbody>

                                            </table>




                                        </div>
                                        </td>


                                    </tr>
                                    </tbody>
                                </table>
                                <div aria-label="Page navigation example">
                                    <div class="pagination justify-content-center">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-light">anterior</button>
                                            <button type="button" class="btn text-light" style="background-color: #701111;">1</button>

                                            <button type="button" class="btn btn-light" >2</button>
                                            <button type="button" class="btn btn-light" >3</button>

                                            <button type="button" class="btn btn-light">siguiente</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="containerta my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleecionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" ></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/bootstrap/vendor/jquery-easing/jquery.easing.min.js}" ></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/vendor/bootstrap/js/sb-admin-2.min.js}" ></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" ></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script  th:src="@{/js/demo/datatables-demo.js}"></script>

</body>

</html>

