<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/repartidor.css}" rel="stylesheet" type="text/css">
<head th:replace="AdminGen/fragments/generalAdmin.html :: head_page(page_name = 'Solicitudes Restaurante')"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Sidebar -->
    <ul th:replace="AdminGen/fragments/generalAdmin.html :: topbar" ></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="AdminGen/fragments/generalAdmin.html :: navbar(notificaciones=${notificaciones})"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <form th:action="@{'/admin/solicitudes?tipo=restaurante'}" method="get">
                    <input type="hidden" name="tipo" value="restaurante">
                    <div class="form-group row">
                        <div class="col-sm-3 mb-1 ">
                            <input type="text" class="form-control"
                                   name="nombreRest"
                                   placeholder="Búsqueda por nombre"
                                   th:if="${nombreRest1 == null || nombreRest1.equals('')}">
                            <input type="text" class="form-control"
                                   name="nombreRest"
                                   th:unless="${nombreRest1 == null || nombreRest1.equals('')}"
                                   th:value="${nombreRest1}">

                        </div>


                        <div class="col-sm-2 mb-1">
                            <input type="text" class="form-control"
                                   name="ruc"
                                   placeholder="Búsqueda por ruc"
                                   th:if="${ruc1 == null || ruc1.equals('')}">
                            <input type="text" class="form-control"
                                   name="ruc"
                                   th:unless="${ruc1 == null || ruc1.equals('')}"
                                   th:value="${ruc1}">
                        </div>
                        <div class="col-sm-2 mb-1">
                            <select class="form-control" name="fechaRegistro" th:if="${fechaRegistro1==null}">
                                <option value="" disabled selected>Fecha de Registro</option>
                                <!--option value="hora">Última Hora</option-->
                                <option value="1">Hoy</option>
                                <option value="7">Esta semana</option>
                                <option value="30">Este mes</option>
                                <option value="365">Este año</option>
                            </select>
                            <select class="form-control" name="fechaRegistro" th:unless="${fechaRegistro1==null}">
                                <option value="1"
                                        th:selected="${fechaRegistro1 == 1}">Hoy</option>
                                <option value="7"
                                        th:selected="${fechaRegistro1 == 7}">Esta semana</option>
                                <option value="30"
                                        th:selected="${fechaRegistro1 == 30}">Este mes</option>
                                <option value="365"
                                        th:selected="${fechaRegistro1 == 365}">Este año</option>
                            </select>
                        </div>

                        <div class="input-group-append col-sm-1 mb-3 ml-0">
                            <button class="btn" style="background-color:#701111; color:white; border:#701111" type="submit">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                        <div class="col-sm-2 mb-1 ml-0" style="text-align: right">
                            <a class="btn btn-secondary" th:href="@{'/admin/solicitudes?tipo=restaurante'}">Quitar filtros</a>
                        </div>
                    </div>


                </form>
                <!-- DataTales Example -->
                <div class="alert alert-success" role="alert"
                     th:if="${msg1!=null}" th:text="${msg1}">
                </div>
                <div class="alert alert-danger" role="alert"
                     th:if="${msg2!=null}" th:text="${msg2}">
                </div>
                <div class="alert alert-danger" role="alert"
                     th:if="${msg3!=null}" th:text="${msg3}">
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <h2 class="font-weight-bold text-white  text-md-center">LISTA DE SOLICITUDES RESTAURANTES</h2>


                        <style>
                            .containerta {
                                padding: 2rem 0rem;
                            }

                            h4 {
                                margin: 2rem 0rem 1rem;
                            }

                            .table-image
                            td, th {
                                vertical-align: middle;
                            }

                        </style>
                    </div>
                    <div class="containerta">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-image table-responsive">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 50px">N°</th>
                                        <th scope="col" style="width: 600px">Imagen</th>
                                        <th scope="col" style="width: 700px">Datos</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rest, v : ${listaRestaurantes}">
                                        <td scope="row" th:text="${(currentPage -1)*tamPag+(v.index+1)}">1</td>
                                        <td class="w-25">
                                            <img  th:src="@{'/admin/imagesRest?id='+${rest.idrestaurante}}" class="img-fluid img-thumbnail" alt="Sheep">
                                        </td>
                                        <td><div class="table-responsive">
                                            <table class="table table-bordered ">

                                                <tbody>
                                                <tr>

                                                    <td th:text="|Nombre: ${rest.nombre}|">Fecha de Registro: 20/01/3113 10:30:12</td>
                                                    <td th:text="|RUC: ${rest.ruc}|">DNI: 12345678</td>
                                                </tr>
                                                <tr>

                                                    <td th:text="|Administrador(a): ${rest.administrador.nombres + ' '+ rest.administrador.apellidos}|">Fecha de Registro: 20/01/3113 10:30:12</td>
                                                    <td th:text="|Teléfono: ${rest.telefono}|">DNI: 12345678</td>
                                                </tr>
                                                <tr>

                                                    <td th:text="|Distrito: ${rest.distrito.nombre}|">DISTRITO</td>
                                                    <td th:text="|Dirección: ${rest.direccion}|">DNI: 12345678</td>

                                                </tr>


                                                <tr>
                                                    <td th:text="|Fecha de Registro: ${rest.fecharegistro}|">Fecha de Registro: 20/01/3113 10:30:12</td>
                                                    <td>
                                                        <p>Categorías:</p>
                                                        <p th:each="cat : ${rest.categoriasRestaurante}" th:text="${cat.nombre}"><br></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                    </td>

                                                    <td>

                                                        <a th:href="@{'/admin/aceptarSolicitudRest?id='+${rest.idrestaurante}}" class="btn btn-success btn-icon-split">
                                                            <span class="icon text-white-50">
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                            <span class="text">Aceptar</span>
                                                        </a>
                                                        <a th:href="@{'/admin/rechazarSolicitudRest?id='+${rest.idrestaurante}}" class="btn btn-secondary btn-icon-split">
                                                            <span class="icon text-white-50">
                                                                <i class="fas fa-times"></i>
                                                            </span>
                                                            <span class="text">Rechazar</span>
                                                        </a>



                                                    </td>

                                                </tr>
                                                </tbody>

                                            </table>




                                        </div>
                                        </td>


                                    </tr>


                                    </tbody>
                                </table>
                                <div th:if="${ totalPages >= 1}" class="pagination justify-content-center">
                                    <div th:each="i: ${#numbers.sequence(1,totalPages)}" >

                                        <a th:if="${currentPage != i}"
                                           th:href="@{'/admin/solicitudes?tipo=restaurantet&numPag=' + ${i}}"
                                           th:utext="${i}"
                                           class="active page-link"></a>
                                        <a th:unless="${currentPage != i}"
                                           th:utext="${i}" class="page-link" style="pointer-events: none; background-color: #701111; color: #FFFFFF"></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="containerta my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleecionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" ></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/bootstrap/vendor/jquery-easing/jquery.easing.min.js}" ></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/vendor/bootstrap/js/sb-admin-2.min.js}" ></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" ></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script  th:src="@{/js/demo/datatables-demo.js}"></script>

</body>

</html>