<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_page(page_name)">
    <meta charset="UTF-8">
    <title th:text="${page_name}">Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template/BASE-COPIAR-NOBORRAR/bootstrap/vendor/fontawesome-free/css/all.min.css -->
    <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/cssAG/estilosAdmin.css}" rel="stylesheet" type="text/css">

    <link  th:href="@{/cssC/estilosCliente.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/cssAR/estilosAdminRest.css}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">


</head>
<body>

<ul th:fragment="topbar" class="navbar-nav  sidebar sidebar-dark accordion" style="background-color:#701111       ;" id="accordionSidebar">
    <div class="">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-shopping-basket"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Food Delivery </div>
        </a>
    </div>
    <!-- Sidebar - Brand -->


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/admin/usuarios'}">
            <i class="fas fa-fw fa-list"></i>
            <span>Listas</span></a>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/admin/tipoSolicitud'}">
            <i class="fas fa-fw fa-folder"></i>
            <span>Solicitudes</span>

        </a>


    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/admin/crear'}">
            <i class="fas fa-fw fa-user-edit"></i>
            <span>Crear Administrador</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" >
            <i class="fas fa-fw fa-folder"></i>
            <span>Reportes</span>

        </a>
        <div class="collapse" id="submenu1" aria-expanded="false">
            <ul class="flex-column pl-2 nav">
                <li class="nav-item"><a class="nav-link py-0" href="#"><span>Usuarios</span></a></li>
            </ul>
            <ul class="flex-column pl-2 nav">
                <li class="nav-item"><a class="nav-link py-0" href="#"><span>Pedidos por cliente</span></a></li>
            </ul>
            <ul class="flex-column pl-2 nav">
                <li class="nav-item"><a class="nav-link py-0" href="#"><span>Pedidos por repartidor</span></a></li>
            </ul>
            <ul class="flex-column pl-2 nav">
                <li class="nav-item"><a class="nav-link py-0" href="#"><span>Ventas</span></a></li>
            </ul>
            <ul class="flex-column pl-2 nav">
                <li class="nav-item"><a class="nav-link py-0" href="#"><span>Ingresos</span></a></li>
            </ul>
        </div>
    </li>




    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>


<!-------------MODAL
<div th:fragment="modal(id_modal, msg, url)">
    <div class="modal fade" th:id="${id_modal}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="${msg}"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a th:href="@{${url}}" class="btn btn-primary">Sí</a>
                    <a class="btn" type="button"
                       data-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>------------------>

<!-- Topbar -->

    <nav th:fragment="navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
        </form>



        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in "
                     aria-labelledby="alertsDropdown">
                    <h6 class="notificacion">
                        Nuevas Solicitudes
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle notificacion">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">Nuevo Repartidor - 12:45 pm</div>
                            <span class="font-weight-bold">Carlos Martinez</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle notificacion">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">Nuevo Restaurante - 12:45 pm</div>
                            <span class="font-weight-bold">La mas brasa</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle notificacion">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">Nuevo administrador de restaurante - 12:45 pm</div>
                            <span class="font-weight-bold">KArla Avellana</span>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Ver todas las solicitudes</a>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                          th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|"> </span>
                    <img class="img-profile rounded-circle" src="../bootstrap/img/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{/admin/editarPerfil}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Editar Perfil
                    </a>
                    <div class="dropdown-divider"></div>



                    <!-- LOGOUT-->
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>
                        Cerrar Sesión
                    </a>


                </div>
            </li>

        </ul>

    </nav>


</body>
</html>