<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" th:href="@{/img/icono_shop.ico}" type="image/x-icon"/>

        <title th:text="${title}"></title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">

        <!-- href="./static/css/sb-admin-2.css"Custom styles for this template src/main/resources/templates/bootstrap/blank.html -->
        <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">


        <link th:href="@{/cssAR/estilosAdminRest.css}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this page -->
        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    </head>
    <body>
        <!-- Sidebar -->
        <ul th:fragment="sidebar" class="navbar-nav  sidebar sidebar-dark accordion"
            style="background-color:#701111       ;"
            id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-shopping-basket"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Food Delivery</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/plato}">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Categorías</span></a>
            </li>


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="listaPedidos.html">
                    <i class="fas fa-fw fa-book-open"></i>
                    <span>Pedidos</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/extra}">
                    <i class="fas fa-fw fa-utensils"></i>
                    <span>Extras</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link " href="eleccionReporte.html">
                    <i class="fas fa-fw fa-fw fa-file"></i>
                    <span>Reportes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/cupon}">
                    <i class="fas fa-fw fa-ticket-alt"></i>
                    <span>Cupones</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Topbar -->
        <nav th:fragment="topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
            </form>

            <!-- Topbar Search -->


            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in "
                         aria-labelledby="alertsDropdown">
                        <h6 class="notificacion">
                            Nuevos Pedidos
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle notificacion">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">Los Olivos - 12:45 pm</div>
                                <span class="font-weight-bold">Arroz con pollo</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle notificacion">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">Los Olivos - 12:45 pm</div>
                                <span class="font-weight-bold">Arroz con pollo</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle notificacion">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">Los Olivos - 12:45 pm</div>
                                <span class="font-weight-bold">Arroz con pollo</span>
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Ver todos los
                            pedidos</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                              th:text="|${session.usuario.nombres} ${session.usuario.apellidos}|">Joham Romucho</span>
                        <img class="img-profile rounded-circle" th:src="@{/img/perfildefecto.png}"
                             type="image/png" alt="avatar">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <form id="cerrar" th:action="@{/logout}" method="post">
                            <a class="nav-link" data-toggle="modal"
                               href="#logoutModal" data-target="#logoutModal"><i
                                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Cerrar Sesión
                            </a>
                        </form>
                    </div>
                </li>

            </ul>
        </nav>
        <!-- End of Topbar -->

        <div th:fragment="down" class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sesión</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Usted esta a punto de salir ¿Desea continuar?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-primary" type="submit">Cerrar Sesión
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="modalGET(idModal, mensaje, url)">
            <!------------------------------->
            <div class="modal fade" th:id="${idModal}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2" th:text="${mensaje}"></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{${url}}" class="btn btn-primary">Sí</a>
                            <a class="btn" type="button"
                               data-dismiss="modal">
                                No
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------->
        </div>

    </body>
</html>