<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="Cliente/fragments/general.html :: header( title = 'Carrito')"></head>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Cliente/fragments/clienteFragment.html :: sidebar"></ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-6 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Al parecer no pasa nada si lo quitamos-->
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Buscar..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn" style="background-color:#701111; color:white;"
                                                type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Al parecer no pasa nada si lo quitamos-->

                    <!-- Nav Item - Alerts -->

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}"
                           th:text="|${session.distritoActual.nombre} - ${session.usuario.direccionactual}| ">
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaCupones}">
                            <i class="fas fa-tags"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter"
                                  th:if="${notificaciones.size()>0||!notificaciones.isEmpty()}"
                                  th:text="${notificaciones.size()}"></span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="notificacion">
                                Pedido actual
                            </h6>
                            <p th:if="${notificaciones.size()==0||notificaciones.isEmpty()}"> No tiene pedidos
                                cancelados o entregados</p>
                            <a th:if="${notificaciones.size()>0||!notificaciones.isEmpty()}"
                               class="dropdown-item d-flex align-items-center"
                               th:each="noti,in:${notificaciones}"
                               th:href="@{'/cliente/detallePedidoActual?codigo='+${noti.getCodigo()}}">
                                <div class="mr-3">
                                    <div class="icon-circle notificacion">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500" th:text="${noti.getCodigo()}"></div>
                                    <span class="font-weight-bold" th:text="${noti.getNombre()}"></span>
                                    <span class="font-weight-bold" th:if="${noti.estado==2}"> - Cancelado</span>
                                    <span class="font-weight-bold" th:if="${noti.estado==6}"> - Entregado</span>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" th:href="@{/cliente/pedidoActual}">
                                Mostrar todos mis pedidos</a>
                        </div>
                    </li>
                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header font-weight-bold "
                                style="background-color:white; color:#701111; border:#701111;"
                                th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">

                            </h6>
                            <a class="dropdown-item d-flex align-items-center">
                                <div class="mr-3">
                                    <i class="fas fa-mobile"></i>
                                </div>
                                <div class="font-weight">
                                    <div class="text-truncate" th:text="${session.usuario.telefono} "></div>
                                    <div class="small text-gray-500">Teléfono</div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">
                               </span>
                            <img class="img-profile rounded-circle"
                                 th:src="@{'/cliente/fotoPerfil?id='+${session.usuario.idusuario}}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/cliente/editarPerfil}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Editar Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>


                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!--<form>
                    <div class="form-group row mt-3">

                        <div class="col-sm-3 mb-1 ">
                            <div class="input-group">
                                <div class="form-check-label">
                                    <div class="input-group-append">
                                        <input id="buscador" type="text" class="form-control bg-light small"
                                               placeholder="Búsqueda por plato..." style="border-color: lightgray">
                                        <button class="btn" style="background-color:#701111; color:white" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3 mb-1">
                            <select id="buscadorPrecios" class="form-control" style="border-color: lightgray">
                                <option value="">Precio</option>
                                <option value="">S./00.00 hasta S./5.00</option>
                                <option value="">S./5.00 hasta S./10.00</option>
                                <option value="">S./10.00 hasta S./15.00</option>
                                <option value="">S./15.00 hasta S./20.00</option>
                                <option value="">S./20.00 a más</option>
                            </select>
                        </div>
                        <div class="col-sm-2 mb-1 mt-md-auto">
                            <button class="btn" style="background-color:#701111; color:white; border:#701111" type="button">
                                <i class="fas fa-filter"></i>
                            </button>
                            <a class="btn btn-secondary">Quitar filtros</a>
                        </div>
                    </div>
                </form>-->


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <div class="row">
                            <div class="col-1" th:if="${session.extrasCarrito != null}">
                                <a class="btn" th:href="@{'/cliente/mostrarExtrasCarrito'}"><i
                                        class="fas fa-shopping-basket" style="color: white"></i></a>
                            </div>
                            <div class="col-9 mt-2">
                                <!-- <h5 class="font-weight-bold text-white text-center" th:text="${nombreRest}"></h5>-->
                                <h5 class="font-weight-bold text-white text-lg-center" align="center">CARRITO DE
                                    COMPRAS</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--- TODO MENSAJE DE ALERTA AL NO ENCONTRAR NADA
                            <div class="alert alert-danger ml-2 mr-2 mt-2" role="alert">
                                No se encontraron resultados en la búsqueda
                            </div> -->

                        <div class="table-responsive">
                            <div th:if="${msgExtra}" class="alert alert-success mb-2" th:text="${msgExtra}"
                                 role="alert"></div>
                            <h6 th:if="${msgLen != null}" class="mb-2" style="color: red" th:text="${msgLen}"></h6>
                            <h6 th:if="${msgInt != null}" class="mb-2" style="color: red" th:text="${msgInt}"></h6>
                            <h6 th:if="${msgIntMay != null}" class="mb-2" style="color: red"
                                th:text="${msgIntMay}"></h6>
                            <h6 th:unless="${session.carrito != null}" class="mb-2" style="color: red">NO AGREGÓ
                                ELEMENTOS AL CARRITO</h6>
                            <table th:if="${session.carrito != null}" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center ">
                                        <div class="ml-sm-4 mb-4">
                                            <input class="form-check-input" type="checkbox" id="master_checkbox">
                                        </div>
                                    </th>
                                    <th class="text-center">
                                        Plato
                                    </th>
                                    <th class="text-center">
                                        Precio
                                    </th>
                                    <th class="text-center">
                                        Cantidad
                                    </th>
                                    <th class="text-center">
                                        Subtotal
                                    </th>
                                    <th class="text-center">
                                        Observación
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="plato : ${session.carrito}">
                                    <td style="width: 100px">
                                        <div class="ml-sm-4 mb-4">
                                            <input class="form-check-input single_check" type="checkbox"
                                                   th:value="${plato.getIdplatohaspedido().getIdplato()}"
                                                   name="platoEliminar" form="eliminar">
                                            <input class="form-check-input" type="text"
                                                   th:value="${plato.getIdplatohaspedido().getIdplato()}"
                                                   name="platoGuardar" form="terminarCompra" hidden>
                                        </div>
                                    </td>
                                    <td style="width: 500px">
                                        <div class="form-check-inline">
                                            <img class="img-profile rounded-circle" alt="list-style-image"
                                                 style="width: 35px; height: 35px"
                                                 th:src="@{'/cliente/imagesPlato?id='+${plato.getIdplatohaspedido().getIdplato()}}">
                                            <div class="ml-3" th:text="${plato.getPlato().getNombre()}"></div>
                                        </div>
                                    </td>
                                    <td style="width: 250px">
                                        <span th:text="|S/. ${plato.getPreciounitario()}|"
                                              class="precioUnitario"></span>
                                    </td>
                                    <td style="width: 250px">
                                        <div class="form-check-inline">
                                            <button class="btn btn-cerrito mr-3 sumar"
                                                    th:data-pedido="${plato.getIdplatohaspedido().getIdplato()}"
                                                    style="color: #ffffff; background-color: #701111"><i
                                                    class="fas fa-plus"></i></button>
                                            <input class="form-control mr-3 mb-3 mt-3 cantidad"
                                                   th:data-pedido="${plato.getIdplatohaspedido().getIdplato()}"
                                                   type="text" size="5%" name="cantidad"
                                                   th:value="${plato.getCantidad()}" form="terminarCompra"
                                                   style="background: #ededed">
                                            <button class="btn btn-cielito restar"
                                                    th:data-pedido="${plato.getIdplatohaspedido().getIdplato()}"
                                                    style="color: #FFFFFF; background-color: #2d4a8d"><i
                                                    class="fas fa-minus"></i></button>
                                        </div>
                                    </td>
                                    <td style="width: 250px">
                                        <!--
                                                                                <input class="form-control mr-3 mb-3 mt-3 precio" th:data-precio="${plato.getIdplatohaspedido().getIdplato()}" th:value="${plato.getPreciounitario() * plato.getCantidad()}"  type="text" size="5%" name="precio" disabled>
                                        -->
                                        <span th:text="|S/. ${plato.getPreciounitario() * plato.getCantidad()}|"
                                              class="precio"></span>
                                    </td>
                                    <td style="width: 700px"><textarea class="form-control"
                                                                       th:value="${plato.getObservacionplatillo()}"
                                                                       onkeyup="replaceComaDynamic(event);"
                                                                       aria-label="With textarea" name="observacion"
                                                                       form="terminarCompra"
                                                                       style="background: #ededed"></textarea></td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <form th:action="@{'/cliente/terminarCompra'}" method="post" id="terminarCompra"></form>
                        <form th:action="@{'/cliente/eliminar'}" method="post" id="eliminar"></form>

                        <div class="container">
                            <div class="row justify-content-between mb-3">
                                <div class="col justify-content-start">
                                    <button class="btn btn-trash mr-3" style="color: #FFFFFF; background-color: #701111"
                                            data-toggle="modal" data-target="#vaciarCarrito"><i
                                            class="fas fa-trash"></i></button>
                                    <button class="btn btn-eliminar mr-3"
                                            style="color: #FFFFFF; background-color: #e08a3d" data-toggle="modal"
                                            data-target="#eliminarPlato"><i class="fas fa-times"></i></button>
                                </div>
                                <div class="col text-right">
                                    <!-- TODO VALIDAR LA REDIRECCION -->
                                    <a th:if="${idPage.equals('0')}" class="btn btn-back mr-3"
                                       style="color: #FFFFFF;background-color: #d6bd1d"
                                       th:href="@{'/cliente/listaPlatos'}"><i class="fas fa-arrow-left"></i>
                                        Regresar</a>
                                    <a th:if="${idPage.equals('1')}" class="btn btn-back mr-3"
                                       style="color: #FFFFFF;background-color: #d6bd1d"
                                       th:href="@{'/cliente/detallePlato?idPlato='+${idPlato}}"><i
                                            class="fas fa-arrow-left"></i> Regresar</a>

                                    <button class="btn btn-pay mr-3" style="color: #FFFFFF; background-color: #64a94d"
                                            type="button"
                                            data-toggle="modal" data-target="#irAPagar">
                                        <i class="fas fa-arrow-right"></i> Ir a Pagar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Geek Developers &copy; 2021-1</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Ir a Pagar Modal -->
<div class="modal fade" id="irAPagar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2  ">¿Desea ir a pagar?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                <button class="btn btn-primary"
                        style="color: #FFFFFF; background-color: #64a94d; border: #701111"
                        type="submit" form="terminarCompra">Sí
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="eliminarPlato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">¿Está seguro de eliminar un plato?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al selecionar el botón de vaciar, usted eliminará un plato del carrito.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <!--<input type="hidden" name="idRest" th:value="${idRest}" form="eliminar">-->
                <input type="hidden" name="idPage" th:value="${idPage}" form="eliminar">
                <button class="btn btn-eliminar mr-3" style="color: #000000; background-color: #FFD02A" type="submit"
                        form="eliminar">Eliminar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete All Modal-->
<div class="modal fade" id="vaciarCarrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">¿Está seguro de vaciar el carrito?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al selecionar el botón de vaciar, usted vaciará el carrito.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-cerrito" style="background-color: #FFD02A; color: #000000"
                   th:href="@{'/cliente/vaciarCarrito'}">Vaciar</a>
            </div>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleccionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<!-- Bootstrap core JavaScript-->
<script src="../bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="../bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../bootstrap/js/demo/datatables-demo.js"></script>

<script>

    function replaceComaDynamic(event) {
        var codigo = event.which || event.keyCode;
        // console.log("Presionada: " + codigo);

        // código de la ,
        if (codigo === 188) {
            let observaciones = document.getElementsByName("observacion")
            let i = 0
            for (let obs of observaciones) {
                console.log(obs.value)
                obs.value = obs.value.replaceAll(",", " ")
                console.log(obs.value)
                document.getElementsByName("observacion")[i].value = obs.value
                i++
            }
        }

    }


    let maximo = 20
    $('.sumar').on('click', function () {
        let pedido = $(this).data('pedido')
        //    let precio = $(this).data('precio')

        console.log(pedido)
        //  console.log(precio)
        let $cantidad_input = $(".cantidad[data-pedido='" + pedido + "']").first()
        console.log($cantidad_input)
        console.log($cantidad_input.val())
        let cantidad = parseInt($cantidad_input.val());
        // let $precio_input=$(".precio[data-precio='" + precio * cantidad + "']").first()
        // let precio_val = parseInt($precio_input.val())
        // console.log($precio_input)
        // console.log($precio_input.val())
        if (cantidad !== maximo) {
            $cantidad_input.val(cantidad + 1)
        }
    })

    $('.restar').on('click', function () {
        let pedido = $(this).data('pedido')
        let $cantidad_input = $(".cantidad[data-pedido='" + pedido + "']").first()
        let cantidad = parseInt($cantidad_input.val());
        if (cantidad !== 0) {
            $cantidad_input.val(cantidad - 1)
        }
    })
    $('#master_checkbox').on('change', function () {
        if (this.checked) {
            $(".single_check").prop('checked', true);
        } else {
            $(".single_check").prop('checked', false);
        }
    })

</script>
</html>