<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="Cliente/fragments/general.html :: header( title = 'Editar Perfil')"></head>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Cliente/fragments/general.html :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="Cliente/fragments/general.html :: navbar"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- CONTENT -->
                <div class="row">

                    <div class="col-xl-12 col-lg-7">

                        <!-- Area Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 " style="background-color: #701111;">
                                <h6 class="m-0 font-weight-bold text-gray-400 text-center">EDITAR PERFIL</h6>
                            </div>
                            <div class="card-header py-3">

                                <form method="POST" th:action="@{/cliente/guardarEditar}">
                                    <div class="form-row">

                                        <div class="col-md-6 mb-3">
                                            <label>Nombres </label>
                                            <input type="text" class="form-control"th:value="${session.usuario.nombres}" disabled>

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label>Apellido </label>
                                            <input type="text" class="form-control" th:value="${session.usuario.apellidos}" disabled>

                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>Correo </label>
                                            <input type="text" class="form-control" th:value="${session.usuario.correo}" disabled>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>Fecha de Nacimiento</label>
                                            <input type="text" class="form-control"
                                                   th:value="${session.usuario.fechanacimiento}" disabled>

                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>N° de celular</label>
                                            <input type="text" class="form-control" th:value="${session.usuario.telefono}" name="telefonoNuevo" >

                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>Contraseña (Confirmación)</label>
                                            <input type="password" class="form-control " name="contraseniaConf" >

                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <div style=text-align:center>
                                                <button  class="btn btn-primary"  type="submit">Guardar</button>
                                            <a  class="btn btn-danger" th:href="@{/cliente/listaRestaurantes}" >Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>


                    </div>

                    <!-- IMAGEN -->
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="../bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../bootstrap/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../bootstrap/js/demo/chart-area-demo.js"></script>
<script src="../bootstrap/js/demo/chart-pie-demo.js"></script>
<script src="../bootstrap/js/demo/chart-bar-demo.js"></script>

</body>

</html>