<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="Cliente/fragments/general.html :: header( title = 'Detalle Pedido Actual')"></head>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Cliente/fragments/general.html :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="Cliente/fragments/general.html :: navbar"></nav>
            <!-- End of Topbar -->
            <!-- End of Topbar -->

            <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <form>
                        <div class="form-group row mt-3">
                            <div class="col-sm-3 mb-1 ">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Búsqueda por restarurante...">
                                    <div class="input-group-append">
                                        <button class="btn" style="background-color:#701111; color:white;" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-1">
                                <select class="form-control">
                                    <option value="">Estado</option>
                                    <option value="">Entregado</option>
                                    <option value="">Cancelado</option>

                                </select>
                            </div>
                            <div class="input-group-append col-sm-1 mb-2 ">
                                <button class="btn" style="background-color:#701111; color:white; border:#701111" type="button">
                                    <i class="fas fa-filter"></i>
                                </button>
                            </div>
                            <div class="col-sm-2" style="margin-right: 10px" >
                                <a class="btn btn-secondary " >Quitar filtros</a>
                            </div>
                        </div>
                    </form>


                    <!-- DataTales Example -->
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <div class="d-sm-flex align-items-center justify-content-between">

                            <h5 class="font-weight-bold text-white text-lg-center mx-auto ">PEDIDOS FINALIZADOS</h5>
                        </div>
                    </div>
                        <div class="card-body">
                            <div >
                                <table >
                                    <tbody>
                                        <tr th:each="pedido,info:${listaPedidos}">
											<div class="row" style="margin-bottom:10px" >
												<div class="col-3" >
													<img width="100%" height="100%" src="img/rosaNautica.jpg">
												</div>
												<div class="col-6">
													<div class="row mb-2" >
														<input class="form-control ph-center" type="text" th:placeholder="${pedido.getNombre()}" aria-label="Disabled input example" disabled>
													</div>
													<div class="row mb-2" >
														<input class="form-control ph-center" type="text" th:placeholder="|Fecha de entrega: ${pedido.getFechapedido()}|" aria-label="Disabled input example" disabled>
													</div>	
													<div class="row mb-2">
															<input class="form-control col-6" type="text" placeholder="Hora Entregada: 19:15" aria-label="Disabled input example" disabled>
														<input width="" class="form-control col-5 ml-4" type="text"  th:if="${pedido.getEstado==2}"  th:placeholder="|Estado : Cancelado|" aria-label="Disabled input example" disabled>
														<input width="" class="form-control col-5 ml-4" type="text"  th:if="${pedido.getEstado==6}"  th:placeholder="|Estado : Entregado|" aria-label="Disabled input example" disabled>

													</div>
													<div class="row mb-2" >
														<div class="col-6">
																<h6 class="mb-2" style="color:black">Valora a tu restaurante</h6>
																<a href="#" data-toggle="modal" data-target="#valoraRest">
																	<i class="fas fa-utensils ml-2" style="font-size:2em; color:#F2EE61"></i>
																</a>
														</div>
														<div class="col-6">
																<h6 class=mb-2" style="color:black"> Valora a tu repartidor</h6>
																<a href="#" data-toggle="modal" data-target="#valoraRepar">
																	<i class="fas fa-motorcycle ml-2" style="font-size:2em; color:#2C8287"></i>
																</a>
														</div>
													</div>
												</div>
												<div class="col-3">
													<a href="detallePedido.html"><div class="text-center"><i style="font-size:9em; color:#2C8287" class="fas fa-eye"></i></div></a>
													<a href="detallePedido.html"><div class="text-center" style="color:#2C8287">Detalle de Pedido</div></a>
												</div>
											</div>
										</tr>
										<div class="dropdown-divider" style="border-color:#701111;" ></div>

									</tbody>
								</table>
							</div>
							<div class="pagination" style=" margin-left: 630px ;align-content: center">
                                <a  href="#">&laquo;</a>
                                <a  href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>                               
                                <a href="#">6</a>
                                <a href="#">&raquo;</a>
                             </div>
                        </div>
				
                <!-- /.container-fluid -->

    </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
	
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
            <button class="close" type="button"  data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Al seleccionar el boton salir, usted cerrará su sesión.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn" style="background-color:#701111; color:white" href="/html/login.html">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
	
	<!-- Evaluar Restaurante , Comentar Restaurante-->
    <div class="modal fade" id="valoraRest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Valora a tu restaurante</h5>
            <button class="close" type="button"  data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
		<div class="modal-body">
			<form>
			  <div class="form-group ">
				<label for="recipient-name " class="col-form-label text-center">Valora:</label>
				<div class="rating"></div>
			  </div>
			  <div class="form-group">
				<label for="message-text" class="col-form-label">Comentario:</label>
				<textarea class="form-control" id="message-text"></textarea>
			  </div>
			</form>
		</div>
		<div class="modal-footer">
           <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
           <a class="btn" style="background-color:#701111; color:white" href="listaHistorialPedidos.html">Calificar</a>
         </div>
        </div>
      </div>
    </div>
	
	<!-- Evaluar Repartidor , Comentar Repartidor-->
	<div class="modal fade" id="valoraRepar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Valora a tu repartidor</h5>
            <button class="close" type="button"  data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
		<div class="modal-body">
			<form>
			  <div class="form-group ">
				<label for="recipient-name " class="col-form-label text-center">Valora:</label>
				<div class="rating"></div>
			  </div>
			  <div class="form-group">
				<label for="message-text" class="col-form-label">Comentario:</label>
				<textarea class="form-control" id="message-text"></textarea>
			  </div>
			</form>
		</div>
		<div class="modal-footer">
           <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
           <a class="btn" style="background-color:#701111; color:white" href="listaHistorialPedidos.html">Calificar</a>
         </div>
        </div>
      </div>
    </div>
	
	<!-- Repartidor Evaluado , Restaurante Evaluado-->
	<div class="modal fade" id="restauranteEvaluacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Valoración a tu restaurante</h5>
            <button class="close" type="button"  data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
		<div class="modal-body">
			<form>
			  <div class="form-group ">
				<label for="recipient-name " class="col-form-label text-center">Valoración:</label>
				<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
			  </div>
			  <div class="form-group">
				<label for="message-text" class="col-form-label">Comentario:</label>
				<textarea class="form-control" id="message-text" placeholder="Vino muy poquito" disabled></textarea>
			  </div>
			</form>
		</div>
		<div class="modal-footer">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary" type="submit">Cerrar Sesión
                </button>
            </form>
         </div>
        </div>
      </div>
    </div>
	
	<div class="modal fade" id="repartidorEvaluacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Valoración a tu repartidor</h5>
				<button class="close" type="button"  data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button>
			  </div>
			<div class="modal-body">
				<form>
				  <div class="form-group ">
					<label for="recipient-name " class="col-form-label text-center">Valoración:</label>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
				  </div>
				  <div class="form-group">
					<label for="message-text" class="col-form-label">Comentario:</label>
					<textarea class="form-control" id="message-text" placeholder="Se demoró más del tiempo que me dieron" disabled></textarea>
				  </div>
				</form>
			</div>
			<div class="modal-footer">
			   <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
			</div>
        </div>
      </div>
    </div>
	
	
    <!-- Bootstrap core JavaScript-->
    <script src="../bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="../bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../bootstrap/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../bootstrap/js/demo/datatables-demo.js"></script>
    <script src="../bootstrap/js/estrellitas/jquery.raty.min.js"></script>
	<script>
		$('.rating').raty({
		path: '../bootstrap/img/estrellitas/',
		scoreName: 'valoracion'
		});		
	</script>

</body>

</html>