<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="Cliente/fragments/general.html :: header( title = 'Historial de Pedidos')"></head>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Cliente/fragments/clienteFragment.html :: sidebar"></ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-6 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Al parecer no pasa nada si lo quitamos-->
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Buscar..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn" style="background-color:#701111; color:white;" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Al parecer no pasa nada si lo quitamos-->

                    <!-- Nav Item - Alerts -->

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}"
                           th:text="|${session.distritoActual.nombre} - ${session.usuario.direccionactual}|">
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaCupones}">
                            <i class="fas fa-tags"></i>
                        </a>
                    </li>
                    <!-- Nav Item - Alerts campanita Notificaciones -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#notifi" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notificaciones"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter"
                                  th:if="${notificaciones.size()>0||!notificaciones.isEmpty()}"
                                  th:text="${notificaciones.size()}"></span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown" id="notifi">
                            <h6 style="background-color: #701111; border: 1px solid #701111; padding-top: .75rem; padding-bottom: .75rem; color: #fff;
                             display: block; padding: .5rem 1.5rem; margin-bottom: 0; white-space: nowrap; font-weight: 700; font-size: .95rem; color: #ffffff">
                                Nuevos Pedidos
                            </h6>
                            <p th:if="${notificaciones.size()==0||notificaciones.isEmpty()}" class="mt-3 ml-4"> No
                                tiene pedidos
                                pendientes</p>
                            <a th:if="${notificaciones.size()>0||!notificaciones.isEmpty()}"
                               class="dropdown-item d-flex align-items-center"
                               th:each="p,in:${notificaciones}"
                               th:href="@{'/cliente/detallePedidoActual?codigo='+${p.getCodigo()}}">
                                <div class="mr-3">
                                    <div class="icon-circle" style="background-color: #701111; border: 1px solid #701111; white-space: nowrap; font-weight: 700; font-size: .95rem; color: #ffffff">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500"
                                         th:text="${'Pendiente - S/.'+p.getPrecioTotal()}">Los Olivos - 12:45 pm
                                    </div>
                                    <span class="font-weight-bold"
                                          th:text="${p.getNombre()}"></span>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500"
                               th:href="@{/cliente/pedidoActual}">Ver todos los pedidos</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header font-weight-bold " style="background-color:white; color:#701111; border:#701111;"
                                th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|"
                            >

                            </h6>
                            <a class="dropdown-item d-flex align-items-center">
                                <div class="mr-3">
                                    <i class="fas fa-mobile"></i>
                                </div>
                                <div class="font-weight">
                                    <div class="text-truncate" th:text="${session.usuario.telefono} "></div>
                                    <div class="small text-gray-500">Teléfono</div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"  th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">
                               </span>
                            <img class="img-profile rounded-circle" th:src="@{'/cliente/fotoPerfil?id='+${session.usuario.idusuario}}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item"  th:href="@{/cliente/editarPerfil}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Editar Perfil
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>


                </ul>

            </nav>
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <form  method="get" th:action="@{'/cliente/historialPedidos'}">
                    <div class="form-group row mt-3">
                        <div class="col-sm-3 mb-1 ">
                            <div class="input-group">
                                <input id="texto" name="texto"  type="text" class="form-control small"
                                       th:placeholder="${texto.equals('') ? 'Búsqueda por restaurante...' : texto}"
                                       th:value="${texto.equals('') ? '' : texto}"
                                       >
                            </div>
                        </div>
                        <div class="col-sm-2 mb-1">
                            <select class="form-control" name="estado">
                                <option value="7"  th:selected="${estado.equals('7')}">Estados</option>
                                <option value="6" th:selected="${estado.equals('6')}">Entregado</option>
                                <option value="2" th:selected="${estado.equals('2')}">Cancelado</option>
                            </select>
                        </div>
                        <div class="input-group-append col-sm-1 mb-2 ">
                            <button class="btn" style="background-color:#701111; color:white; border:#701111" type="submit">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                        <div class="col-sm-2" style="margin-right: 10px" >
                            <a class="btn btn-secondary " th:href="@{'/cliente/historialPedidos'}" >Quitar filtros</a>
                        </div>
                    </div>
                </form>

                <div class="card shadow mb-4">
                    <!-- DataTales Example -->
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <div class="d-sm-flex align-items-center justify-content-between">

                            <h4 class="font-weight-bold text-white text-lg-center mx-auto ">HISTORIAL DE PEDIDOS</h4>
                        </div>
                    </div>
                    <div class="text-center" >
                        <br>
                        <h3 style="color: red;" th:if="${ total==0}" th:text="|No hay resultados para su búsqueda|"></h3>
                        </br>
                    </div>
                    <div class="card-body"  th:if="${ total>0}">


                        <div style=text-align:center>
                            <h6>Solo pedidos  <font color="green"><b>entregados</b></font>  o <font color="red"><b>cancelados</b></font> </h6>
                            <h6></h6>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th width="10"> N° </th>
                                    <th width="50" height="60">
                                        <div style=text-align:center> Restaurante</div>
                                    </th>
                                    <th width="700">
                                        <div style=text-align:center>
                                            Descripción
                                        </div>
                                    </th>

                                    <td >
                                        <div style=text-align:center>
                                            Acceder
                                        </div>
                                    </td>

                                    </th>
                                </tr>
                                </thead>


                                <tr  th:each=" pedido , info:${listaPedidos}">
                                    <td th:text="${(current -1)*5 + info.index +1}"></td>
                                    <td>
                                        <div class="col-3">
                                            <img width="120" height="110" alt="Avatar"
                                                 th:src="@{'/cliente/images?id='+${pedido.getIdrestaurante()}}">
                                        </div>
                                    </td>

                                    <td>
                                    <div style=text-align:center>
                                         <h5 class="mb-2"  style="color:#701111;" th:text="${pedido.getNombre()}"> </h5>
                                        <h6></h6>
                                        <div class="row">

                                            <div class="col-6">
                                                <div class="ml-2" type="text" th:text="|Fecha de registro: ${pedido.getFecha()}|">  </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="ml-4" type="text" th:text="|Hora de registro: ${pedido.getHora()}|">  </div>
                                            </div>

                                        </div>

                                        <br>
                                        <div class="row">
                                            <div class="col-6">
                                                <div  class=" ml-2" type="text" th:text="|Tiempo de entrega: ${pedido.getTiempoentrega()} - ${pedido.getTiempoentrega()+30} min|">  </div>
                                            </div>

                                            <div class="col-6">
                                                <div  class=" ml-4" type="text" style="color: red; font-weight: bold;"
                                                      th:if="${pedido.getEstado()==2}" th:text="|Estado : Cancelado |"
                                                ></div>
                                                <div  class=" ml-4" type="text" style="color: green; font-weight: bold;"
                                                      th:if="${pedido.getEstado()==6}" th:text="|Estado : Entregado |"
                                                ></div>

                                            </div>
                                        </div>
                                        <br>

                                        <!-- TODO AQUI LLAMAMOS AL MODAL -->
    <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                                        <!-- -------------------------------------1 ) LLAMADO AL MODAL CUANDO NO HAY VALORACION NI OBSERVACION ------------------------------------------------------------------>
                                        <div  class="row mb-2" >
                                            <div  class="col-6" th:if="${pedido.getValoracionrestaurante() == null && pedido.getEstado()==6}"  >
                                                <h6 class="mb-2" style="color:black">Valora a tu restaurante</h6>
                                                <a data-toggle="modal"
                                                   th:data-target="${'#valoraRest'+pedido.getCodigo()}"
                                                   th:href="${'#valoraRest'+pedido.getCodigo()}">
                                                    <i class="fas fa-utensils ml-2" style="font-size:2em; color:#F2EE61"></i>
                                                </a>
                                            </div>


                                            <!---------------------------------------2 ) LLAMADO  AL MODAL CUANDO YA SE VALORO O SE HIZO UNA OBSERVACION ------------------------------------------>

                                            <div class="col-6" th:if="${pedido.getValoracionrestaurante() != null && pedido.getEstado()==6}">
                                                <h6 class="mb-2" style="color:black">Valoración de tu restaurante</h6>
                                                <a data-toggle="modal"
                                                   th:data-target="${'#valoraRest2'+pedido.getCodigo()}"
                                                   th:href="${'#valoraRest2'+pedido.getCodigo()}">
                                                    <i class="fas fa-utensils ml-2"
                                                       style="font-size:2em; color:gray"></i>
                                                </a>
                                            </div>

                                            <div class="col-6" th:if="${pedido.getEstado()==2}">
                                                <h6 class="mb-2" style="color:black">Valoración de tu restaurante</h6>
                                                <a data-toggle="modal"
                                                   >
                                                    <i class="fas fa-utensils ml-2"
                                                       style="font-size:2em; color:gray"></i>
                                                </a>
                                            </div>


                                            <!-- ------------------------------------- 3 ) LLAMADO AL MODAL REPARTIDOR CUANDO NO HAY VALORACION NI OBSERVACION ------------------------------------------------------------------>

                                            <div class="col-6"  th:if="${pedido.getValoracionrepartidor()== null && pedido.getEstado()==6}">
                                                <h6 class="mb-2" style="color:black">Valora a tu repartidor</h6>
                                                <a  data-toggle="modal" th:data-target="${'#valoraRep'+pedido.getCodigo()}"
                                                    th:href="${'#valoraRep'+pedido.getCodigo()}">
                                                    <i class="fas fa-motorcycle ml-2" style="font-size:2em; color:#2C8287"></i>
                                                </a>
                                            </div>

                                            <!-- ------------------------------------- 4 ) LLAMADO AL MODAL CUANDO El REAPRTIDOR YA FUE VALORADO ------------------------------------------------------------------>

                                            <div class="col-6" th:if="${pedido.getValoracionrepartidor()!= null && pedido.getEstado()==6}">
                                                <h6 class="mb-2" style="color:black">Valoración de tu repartidor</h6>
                                                <a data-toggle="modal" th:data-target="${'#valoraRep2'+pedido.getCodigo()}"
                                                   th:href="${'#valoraRep2'+pedido.getCodigo()}">
                                                    <i class="fas fa-motorcycle ml-2"
                                                       style="font-size:2em; color:gray"></i>
                                                </a>
                                            </div>

                                            <div class="col-6" th:if="${pedido.getEstado()==2}">
                                                <h6 class="mb-2" style="color:black">Valoración de tu repartidor</h6>
                                                <a data-toggle="modal" >
                                                    <i class="fas fa-motorcycle ml-2"
                                                       style="font-size:2em; color:gray"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <!-- ------------------------------------------------------------------------------------------------------------------------------- -->
                                    </div>


                                    <!---------------------------------------------  1 MODAL EVALUAR REST Y COMENTAR ------------------------------------------------------------------------>
                                    <!-- todo Evaluar Restaurante , Comentar Restaurante-->

                                    <div class="modal fade" th:id="${'valoraRest'+pedido.getCodigo()}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Valora a tu restaurante</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <form th:id="${'valoraForm'+pedido.getCodigo()}" method="POST"
                                                          th:action="@{/cliente/valorarRest}">

                                                        <div class="form-group">
                                                            <input name="id" type="text" class="form-control mb-2"
                                                                   th:value="${pedido.codigo}" hidden>
                                                            <label class="col-form-label text-center">Valora:</label>

                                                        </div>
                                                        <div class="rating"></div>
                                                        <div class="form-group">
                                                            <label
                                                                    class="col-form-label">Comentario:</label>
                                                            <textarea class="form-control" name="comentRest"
                                                            ></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button"
                                                            data-dismiss="modal">Cancelar
                                                    </button>
                                                    <button type="submit" class="btn btn-primary"
                                                            th:form="${'valoraForm'+pedido.getCodigo()}"> Aceptar
                                                    </button>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- Repartidor Evaluado , Restaurante Evaluado-->
                                    <div class="modal fade" th:id="${'valoraRest2'+pedido.getCodigo()}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Valoración a tu restaurante</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="form-group ">
                                                        <label for="recipient-Valoración "
                                                               class="col-form-label text-center">Valoración:</label>
                                                        <i th:if="${pedido.getValoracionrestaurante() >= 1}"
                                                           class="fas fa-star" style="color: #ffc600"></i>

                                                        <i th:if="${pedido.getValoracionrestaurante() >= 2}"
                                                           class="fas fa-star" style="color: #ffc600"></i>
                                                        <i th:if="${pedido.getValoracionrestaurante() < 2}"
                                                           class="far fa-star"></i>

                                                        <i th:if="${pedido.getValoracionrestaurante() >= 3}"
                                                           class="fas fa-star" style="color: #ffc600"></i>
                                                        <i th:if="${pedido.getValoracionrestaurante() < 3}"
                                                           class="far fa-star"></i>

                                                        <i th:if="${pedido.getValoracionrestaurante() >= 4}"
                                                           class="fas fa-star" style="color: #ffc600"></i>
                                                        <i th:if="${pedido.getValoracionrestaurante() < 4}"
                                                           class="far fa-star"></i>

                                                        <i th:if="${pedido.getValoracionrestaurante() == 5}"
                                                           class="fas fa-star" style="color: #ffc600"></i>
                                                        <i th:if="${pedido.getValoracionrestaurante() < 5}"
                                                           class="far fa-star"></i>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text"
                                                               class="col-form-label">Comentario:</label>
                                                        <textarea class="form-control" id="message-text"
                                                                  th:placeholder="${pedido.getComentariorestaurante}"
                                                                  disabled></textarea>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button"
                                                            data-dismiss="modal">
                                                        Cerrar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal fade" th:id="${'valoraRep2'+pedido.getCodigo()}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <!-- id="exampleModalLabel"-->
                                                    <h5 class="modal-title">Valoración a tu repartidor</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="form-group ">
                                                        <label for="recipient-name" class="col-form-label text-center">Valoración:</label>
                                                        <i th:if="${pedido.getValoracionrepartidor() >= 1}"
                                                           class="fas fa-star" style="color: #ffc600"></i>

                                                        <i th:if="${pedido.getValoracionrepartidor() >= 2}"
                                                           class="fas fa-star" style="color: #ffc600"></i>
                                                        <i th:if="${pedido.getValoracionrepartidor() < 2}"
                                                           class="far fa-star" ></i>

                                                        <i th:if="${pedido.getValoracionrepartidor() >= 3}"
                                                           class="fas fa-star" style="color: #ffc600"></i>
                                                        <i th:if="${pedido.getValoracionrepartidor() < 3}"
                                                           class="far fa-star" ></i>

                                                        <i th:if="${pedido.getValoracionrepartidor() >= 4}"
                                                           class="fas fa-star" style="color: #ffc600"></i>
                                                        <i th:if="${pedido.getValoracionrepartidor() < 4}"
                                                           class="far fa-star" ></i>

                                                        <i th:if="${pedido.getValoracionrepartidor() == 5}"
                                                           class="fas fa-star" style="color: #ffc600"></i>
                                                        <i th:if="${pedido.getValoracionrepartidor() < 5}"
                                                           class="far fa-star"></i>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text"
                                                               class="col-form-label">Comentario:</label>
                                                        <textarea class="form-control" id="message-text"
                                                                  th:placeholder="${pedido.getComentariorepartidor}"
                                                                  disabled></textarea>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button"
                                                            data-dismiss="modal">
                                                        Cerrar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Evaluar Repartidor , Comentar Repartidor-->
                                    <div class="modal fade" th:id="${'valoraRep'+pedido.getCodigo()}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Valora a tu repartidor</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <form th:id="${'valoraForm1'+pedido.getCodigo()}" method="POST"
                                                          th:action="@{/cliente/valorarRep}">

                                                        <div class="form-group">
                                                            <input name="id" type="text" class="form-control mb-2"
                                                                   th:value="${pedido.codigo}" hidden>
                                                            <label class="col-form-label text-center">Valora:</label>

                                                        </div>
                                                        <div class="rating"></div>
                                                        <div class="form-group">
                                                            <label
                                                                    class="col-form-label">Comentario:</label>
                                                            <textarea class="form-control" name="comentRep"
                                                            ></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button"
                                                            data-dismiss="modal">Cancelar
                                                    </button>
                                                    <button type="submit" class="btn btn-primary"
                                                            th:form="${'valoraForm1'+pedido.getCodigo()}"> Aceptar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    </td>

    <!---------------------------------------------- FIN MODALES------------------------------------------------------------------------>
                                    <td>

                                        <div style=text-align:center>
                                            <a th:href="@{'/cliente/detalleHistorialPedido?codigo='+${pedido.getCodigo()}}">
                                                <div class="text-center"><i style="font-size:6em; color:#2C8287"
                                                                            class="fas fa-eye"></i>
                                                </div>
                                            </a>
                                            <a th:href="@{'/cliente/detalleHistorialPedido?codigo='+${pedido.getCodigo()}}">
                                                <div class="text-center" style="color:#2C8287">Detalle de Pedido</div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <nav aria-label="pagination">
                                    <ul class="pagination text-center justify-content-center">
                                        <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                                            <a class="page-link" th:href="@{'/cliente/paginacionHistPed?page='+${page}}" th:text="${page}"></a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>

                        </div>
    <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------- -->


                    </div>

                </div>

            </div>


        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>

<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleccionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="../bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../bootstrap/js/demo/datatables-demo.js"></script>

<script src="../js/estrellitas/jquery.raty.min.js"></script>
<script>

    $('.rating').raty({
        path: '../img/estrellitas/',
        scoreName: 'val'
    });
</script>
</body>

</html>