<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="Cliente/fragments/general.html :: header( title = 'Lista Direccion')"></head>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Cliente/fragments/general.html :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="Cliente/fragments/general.html :: navbar"></nav>
            <!-- End of Topbar -->
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- CONTENT -->
                <div class="row">

                    <div class="col-xl-12 col-lg-7">

                        <!-- Area Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 " style="background-color: #701111;">
                                <h6 class="m-0 font-weight-bold text-gray-400 text-center">REGISTRE UNA DIRECCIÓN</h6>
                            </div>

                            <!--- TODO MENSAJE DE ALERTA AL NO ENCONTRAR NADA
                            <div class="alert alert-danger ml-2 mr-2 mt-2" role="alert">
                                No se encontraron resultados en la búsqueda
                            </div> -->

                            <div class="card-header py-3">


                                    <div class="form-row">

                                        <div class="col-md-6 mb-3">
                                            <!-- ################################################################ -->
                                            <form method="POST" th:action="@{/cliente/agregarDireccion}">
                                            <div style=text-align:center>
                                            <label for="direcc">Ingrese una dirección</label>
                                            <input type="text" class="form-control " name="direccion"  id="direcc" value="" placeholder="" >
                                            </div>

                                            <h2>   </h2>
                                            <div class="col-md-12 mb-3"  style=text-align:center>
                                                <button  class="btn btn-primary" type="submit">Agregar</button>

                                                <a  class="btn btn-danger" th:href="@{/cliente/listaRestaurantes}" type="submit">Cancelar</a>

                                            </div>
                                            </form>
                        <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
                                            <form th:action="@{/cliente/eliminarDireccion}" method="post">
                                            <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            N°
                                                        </th>
                                                        <th>
                                                            Direcciones
                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="direcciones,info:${direccionesSinActual}">
                                                        <td th:text="${info.index + 1}"></td>
                                                        <td th:text="${direcciones.direccion}"></td>
                                                        <td> <input type="checkbox"
                                                                name="listaIdDireccionesAeliminar"
                                                                th:value="${direcciones.idubicacion}"> </td>
                                                    </tr>

                                                    </tbody>

                                                </table>

                                                <div class="col-md-12 mb-4"  >
                                                    <button type="submit" class="btn btn-dark" >
                                                         <i class="fas fa-trash"></i>
                                                    </button>

                                                </div>

                                            </div>

                                        </div>
                                        </form>

                                        </div>
                                        <div class="col-md-6 mb-3">

                                                <div class="card shadow mb-4">
                                                    <!-- Card Body -->
                                                    <form method="post" th:action="@{/cliente/guardarDireccion}">
                                                    <div class="card-body">
                                                        <div style=text-align:center>
                                                            <label for="direccionactual">Dirección Actual</label>
                                                            <select class="form-control" id="direccionactual" name="direccionactual" style="border-color:lightgray">
                                                                <option value="0" selected disabled>Direcciones</option>
                                                                <option th:each="direc : ${listaDirecciones}"
                                                                        th:value="${direc.direccion}"
                                                                        th:text="${direc.direccion}"
                                                                        th:selected="${session.usuario.direccionactual.equals(direc.direccion)}"></option>
                                                            </select>
                                                            <div class="col-sm-2" style="margin-right: 10px" >
                                                                <button class="btn btn-secondary" type="submit"> Seleccionar </button>
                                                            </div>
                                                        </div>
                                                        <h1>       </h1>
                                                        <div style=text-align:center>
                                                            <img th:src="@{/img/images.jfif}" width="200" height="150">
                                                        </div>

                                                    </div>
                                                    </form>

                                                </div>

                                        </div>

                                    </div>

                            </div>

                        </div>

                    </div>




                </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="../bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../bootstrap/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../bootstrap/js/demo/chart-area-demo.js"></script>
<script src="../bootstrap/js/demo/chart-pie-demo.js"></script>
<script src="../bootstrap/js/demo/chart-bar-demo.js"></script>

</body>

</html>