<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Cliente/fragments/general.html :: header( title = 'Lista Restaurantes')"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Cliente/fragments/clienteFragment.html :: sidebar"></ul>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-6 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Al parecer no pasa nada si lo quitamos-->
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Buscar..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn" style="background-color:#701111; color:white;"
                                                type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Al parecer no pasa nada si lo quitamos-->

                    <!-- Nav Item - Alerts -->

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}"
                           th:text="|${session.distritoActual.nombre} - ${session.usuario.direccionactual}|">
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaCupones}">
                            <i class="fas fa-tags"></i>
                        </a>
                    </li>
                    <!-- Nav Item - Alerts campanita Notificaciones -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#notifi" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notificaciones"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter"
                                  th:if="${notificaciones.size()>0||!notificaciones.isEmpty()}"
                                  th:text="${notificaciones.size()}"></span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown" id="notifi">
                            <h6 style="background-color: #701111; border: 1px solid #701111; padding-top: .75rem; padding-bottom: .75rem; color: #fff;
                             display: block; padding: .5rem 1.5rem; margin-bottom: 0; white-space: nowrap; font-weight: 700; font-size: .95rem; color: #ffffff">
                                Nuevos Pedidos
                            </h6>
                            <p th:if="${notificaciones.size()==0||notificaciones.isEmpty()}" class="mt-3 ml-4"> No
                                tiene pedidos
                                pendientes</p>
                            <a th:if="${notificaciones.size()>0||!notificaciones.isEmpty()}"
                               class="dropdown-item d-flex align-items-center"
                               th:each="p,in:${notificaciones}"
                               th:href="@{'/cliente/detallePedidoActual?codigo='+${p.getCodigo()}}">
                                <div class="mr-3">
                                    <div class="icon-circle" style="background-color: #701111; border: 1px solid #701111; white-space: nowrap; font-weight: 700; font-size: .95rem; color: #ffffff">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500"
                                         th:text="${'Pendiente - S/.'+p.getPrecioTotal()}">Los Olivos - 12:45 pm
                                    </div>
                                    <span class="font-weight-bold"
                                          th:text="${p.getNombre()}"></span>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500"
                               th:href="@{/cliente/pedidoActual}">Ver todos los pedidos</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header font-weight-bold "
                                style="background-color:white; color:#701111; border:#701111;"
                                th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">

                            </h6>
                            <a class="dropdown-item d-flex align-items-center">
                                <div class="mr-3">
                                    <i class="fas fa-mobile"></i>
                                </div>
                                <div class="font-weight">
                                    <div class="text-truncate" th:text="${session.usuario.telefono} "></div>
                                    <div class="small text-gray-500">Teléfono</div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">
                               </span>
                            <img class="img-profile rounded-circle" th:src="@{'/cliente/fotoPerfil?id='+${session.usuario.idusuario}}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/cliente/editarPerfil}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Editar Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>


                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- End of Topbar -->

            <!-- -------------------------------------------------------------------------------------------------------------------------------------------------->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <form method="get" th:action="@{'/cliente/listaRestaurantes'}">
                    <div class="form-group row mt-3">
                        <div class="col-sm-3 mb-1 ">
                            <div class="input-group">
                                <input id="texto" name="texto"  type="text" class="form-control bg-white small"
                                       th:placeholder="${texto.equals('') ? 'Búsqueda por restaurante...' : texto}"
                                       th:value="${texto.equals('') ? '' : texto}"
                                       style="border-color: lightgray">
                            </div>
                        </div>
                        <div class="col-sm-2 mb-1">
                            <select id="buscadorPrecios" name="idPrecio" class="form-control"
                                    style="border-color: lightgray">
                                <option value="6"  th:selected="${idPrecio.equals('6')}">Precio</option>
                                <option value="1" th:selected="${idPrecio.equals('1')}">S./00.00 hasta S./15.00</option>
                                <option value="2" th:selected="${idPrecio.equals('2')}">S./15.00 hasta S./25.00</option>
                                <option value="3" th:selected="${idPrecio.equals('3')}">S./25.00 hasta S./40.00</option>
                                <option value="4" th:selected="${idPrecio.equals('4')}">S./40.00 a más</option>

                            </select>
                        </div>
                        <div class="col-sm-2 mb-2 ">
                            <select id="buscadorValoracion" name="val" class="form-control" style="border-color: lightgray">
                                <option value="7" th:selected="${val.equals('7')}">Valoración</option>
                                <option value="0" th:selected="${val.equals('0')}">0</option>
                                <option value="1" th:selected="${val.equals('1')}">1</option>
                                <option value="2" th:selected="${val.equals('2')}">2</option>
                                <option value="3" th:selected="${val.equals('3')}">3</option>
                                <option value="4" th:selected="${val.equals('4')}">4</option>
                                <option value="5" th:selected="${val.equals('5')}">5</option>
                            </select>
                        </div>
                        <!--
                        <div class="col-sm-2 mb-2 ">
                            <select id="buscadorCategoria" name="idCategoria" class="form-control" style="border-color: lightgray">
                                <option value="0" disabled>Categorias</option>
                                <option th:each="categoria : ${categorias}"
                                        th:selected="${idCategoria}"
                                        th:value="${categoria.getIdcategoria()}"
                                        th:text="${categoria.getNombre()}"
                                        ></option>
                            </select>
                        </div>
                    -->
                        <!-- -------------------------------------------------------------------------------------- -->
                        <div class="col-sm-2 mb-2 ">
                            <select id="buscadorCategoria" name="idCategoria" class="form-control" style="border-color: lightgray">
                                <option value="" th:selected="${idCategoria.equals('')}">Categorías</option>
                                <option value="1" th:selected="${idCategoria.equals('1')}">Árabe</option>
                                <option value="2" th:selected="${idCategoria.equals('2')}">Asiática</option>
                                <option value="3" th:selected="${idCategoria.equals('3')}">Café</option>
                                <option value="4" th:selected="${idCategoria.equals('4')}">Carnes</option>
                                <option value="5" th:selected="${idCategoria.equals('5')}">Chifa</option>
                                <option value="7" th:selected="${idCategoria.equals('7')}">Criolla</option>
                                <option value="8" th:selected="${idCategoria.equals('8')}">Desayunos</option>
                                <option value="9" th:selected="${idCategoria.equals('9')}">Fusión</option>
                                <option value="10" th:selected="${idCategoria.equals('10')}">Hamburguesas</option>
                                <option value="11" th:selected="${idCategoria.equals('11')}">Helados</option>
                                <option value="12" th:selected="${idCategoria.equals('12')}">India</option>
                                <option value="13" th:selected="${idCategoria.equals('13')}">Internacional</option>
                                <option value="14" th:selected="${idCategoria.equals('14')}">Jugos y batidos</option>
                                <option value="15" th:selected="${idCategoria.equals('15')}">Mexicana</option>
                                <option value="16" th:selected="${idCategoria.equals('16')}">Panadería</option>
                                <option value="17" th:selected="${idCategoria.equals('17')}">Pastas</option>
                                <option value="18" th:selected="${idCategoria.equals('18')}">Pescados y mariscos</option>
                                <option value="19" th:selected="${idCategoria.equals('19')}">Pizzas</option>
                                <option value="20" th:selected="${idCategoria.equals('20')}">Poke</option>
                                <option value="21" th:selected="${idCategoria.equals('21')}">Pollería</option>
                                <option value="22" th:selected="${idCategoria.equals('22')}">Postres</option>
                                <option value="23" th:selected="${idCategoria.equals('23')}">Sandwiches</option>
                                <option value="24" th:selected="${idCategoria.equals('24')}">Sopas y cremas</option>
                                <option value="25" th:selected="${idCategoria.equals('25')}">Sushi</option>
                                <option value="26" th:selected="${idCategoria.equals('26')}">Vegetariana</option>
                                <option value="27" th:selected="${idCategoria.equals('27')}">Saludable</option>
                            </select>
                        </div>



           <!-- ------------------------------------------------------------------------------------------------------------- -->
                        <div class="input-group-append col-sm-1 mb-2 ">
                            <button class="btn" style="background-color:#701111; color:white; border:#701111" type="submit">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                        <div class="col-sm-2" style="margin-right: 10px" >
                            <a class="btn btn-secondary" th:href="@{'/cliente/listaRestaurantes'}" >Quitar filtros</a>

                        </div>
                    </div>
                </form>



                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">
                        <h4 class="font-weight-bold text-white text-center mb-0">LISTA DE RESTAURANTES</h4>
                    </div>
                    <div class="card-body">
                        <div class="text-center" >
                            <h5 th:if="${listaRestaurante.size()==0}" th:text="|No se encontraron resultados|"></h5>
                        </div>
                        <div class="table-responsive"  >
                            <table class="table table-bordered" th:if="${listaRestaurante.size()>0}">
                                <thead>
                                <tr>
                                    <th class="w-5"> N° </th>
                                    <th class="w-15">
                                        <div style=text-align:center> Restaurante</div>
                                    </th>
                                    <th class="w-40 p-3">
                                        <div style=text-align:center>
                                            Descripción
                                        </div>
                                    </th>
                                    <th class="w-30 p-3">
                                        <div style=text-align:center>
                                            Categoría
                                        </div>
                                    </th>
                                    <th class="w-10 p-3">
                                        <div style=text-align:center>
                                            Acceder
                                        </div>
                                    </th>

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="rest, v : ${listaRestaurante}">
                                    <td th:text="${(current -1)*2 + v.index +1}"></td>
                                    <td>
                                        <div style=text-align:center>
                                            <img width="110" height="100" alt="Avatar" th:src="@{'/cliente/images?id='+${rest.getIdrestaurante()}}">
                                        </div>
                                    </td>
                                    <td>
                                        <div style=text-align:center>
                                            <h5 class="mb-2" th:text="${rest.getNombre()}"></h5>
                                            <div class="row">
                                                <div class="col-4">
                                                    <h6 th:if="${rest.getValoracion() == null}" th:text="|Valoración: 0|"></h6>
                                                    <h6 th:unless="${rest.getValoracion() == null}" th:text="|Valoración: ${rest.getValoracion()}|"></h6>
                                                </div>
                                                <div class="col-4">
                                                    <h6 th:if="${rest.getCalificaciones() == null}" th:text="|Calificaciones: 0|"></h6>
                                                    <h6 th:unless="${rest.getCalificaciones() == null}" th:text="|Calificaciones: ${rest.getCalificaciones()}|"></h6>
                                                </div>
                                                <div class="col-4">
                                                    <h6 th:if="${rest.getPreciopromedio() != null}" th:text="|Precio Promedio: S/. ${rest.getPreciopromedio()}|"></h6>
                                                    <h6 th:if="${rest.getPreciopromedio() == null}" th:text="|Precio Promedio: S/. 0|"></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td >
                                        <div style=text-align:center>
                                            <h6 th:text="${rest.getCategorias()}"></h6>
                                        </div>
                                    </td>

                                    <td  class="align-content-center">
                                        <div style=text-align:center>
                                            <a class="btn btn-danger btn-circle"
                                               th:href="@{'/cliente/listaPlatos?idRest='+${rest.getIdrestaurante()}}">
                                                <i class="fas fa-arrow-alt-circle-right"></i>
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

    <!-- ------------------------------------------------------------------------------------ -->
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <nav aria-label="pagination">
                                    <ul class="pagination justify-content-center">

                                        <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                                            <a class="page-link" th:href="@{'/cliente/listaRestaurantespag?page='+${page}}" th:text="${page}"></a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
   <!-- ------------------------------------------------------------------------------------ -->
                     </div>
                    </div>
                </div>
            </div>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
    </div>

</div>


    <div class="modal fade" id="lModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Está seguro que desea eliminar producto?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Sí</button>
                </div>
            </div>
        </div>
    </div>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Al seleccionar el boton salir, usted cerrará su sesión.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-primary" type="submit">Cerrar Sesión
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



</body>




</html>