<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registro</title>

    <!-- Custom fonts for this template/BASE-COPIAR-NOBORRAR/bootstrap/vendor/fontawesome-free/css/all.min.css -->
    <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/cssC/estilosAdmin.css}" rel="stylesheet" type="text/css">


    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand  topbar mb-4 static-top shadow" style="background-color:#701111;">
                <a class="navbar-brand d-flex align-items-center justify-content-center" href="#">
                    <div class="navbar-brand rotate-n-15">
                        <i class="fas fa-truck-loading" style="color: white"></i>
                    </div>
                    <div class="navbar-brand-text mx-3" style="color: white">
                        Food Delivery
                    </div>
                </a>
                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->

                <div class="topbar-divider d-none d-sm-block"></div>

                </ul>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container">

                <a class="dropdown-item user" href="#" data-toggle="modal" data-target="#volverModal"
                   style="position: relative; right:12%">
                    <i class="fas fa-chevron-circle-left"></i>
                    Volver
                </a>
                <h1 style="color: black">Registro</h1>
                <p>Complete el siguiente formulario para registrarse en el sistema y pueda realizar pedidos.</p>
                <form method="post" enctype="multipart/form-data"
                      class="user" th:action="@{/ClienteGuardar}" th:object="${cliente}">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-2 mb-sm-0">
                            <label style="color: black">Nombres</label>
                            <input type="text" class="form-control" style="border-color:lightgray"
                                   id="exampleNombre" th:field="*{nombres}"
                                   placeholder="Nombres">

                            <div style="color: red; font-size: small; text-align: left"
                                 th:if="${#fields.hasErrors('nombres')}"
                                 th:errors="*{nombres}"></div>


                        </div>


                        <div class="col-sm-6 mb-2">
                            <label style="color: black">Apellidos</label>
                            <input type="text" class="form-control" style="border-color:lightgray"
                                   id="exampleApellido" th:field="*{apellidos}"
                                   placeholder="Apellidos">

                            <div style="color: red; font-size: small; text-align: left"
                                 th:if="${#fields.hasErrors('apellidos')}"
                                 th:errors="*{apellidos}"></div>


                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-2 mb-sm-0">
                            <label style="color: black">Correo electrónico</label>


                            <input type="text" class="form-control" style="border-color:lightgray"
                                   id="exampleCorreo" th:field="*{correo}"
                                   placeholder="Correo electrónico">
                            <div style="color: red; font-size: small; text-align: left"
                                 th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></div>
                        </div>

                        <div class="col-sm-6 mb-2">
                            <label style="color: black">Fecha de nacimiento</label>
                            <input type="date" class="form-control mb-2" style="border-color: lightgray"
                                   th:field="*{fechanacimiento}" th:novalidate="novalidate">
                            <div style="color: red; font-size: small; text-align: left"
                                 th:if="${#fields.hasErrors('fechanacimiento')}"
                                 th:errors="*{fechanacimiento}"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-2 mb-sm-0">
                            <label style="color: black">Sexo</label>
                            <select class="form-control" style="border-color:lightgray" th:field="*{sexo}">
                                <option value="" selected>Sexo</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Masculino">Masculino</option>
                            </select>
                            <div style="color: red; font-size: small; text-align: left"
                                 th:if="${#fields.hasErrors('sexo')}"
                                 th:errors="*{sexo}"></div>
                        </div>
                        <div class="col-sm-6  mb-2 mb-sm-0">
                            <label style="color: black">Teléfono</label>
                            <input type="number" class="form-control" style="border-color:lightgray"
                                   th:field="*{telefono}"
                                   id="exampleTelefono" placeholder="Teléfono">

                            <div style="color: red; font-size: small; text-align: left"
                                 th:if="${#fields.hasErrors('telefono')}"
                                 th:errors="*{telefono}"></div>


                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-2 mt-2 mb-sm-0">
                            <label style="color: black">DNI</label>
                            <input type="number" class="form-control" style="border-color:lightgray" th:field="*{dni}"
                                   id="exampleDNI" placeholder="DNI">
                            <div style="color: red; font-size: small; text-align: left"
                                 th:if="${#fields.hasErrors('dni')}"
                                 th:errors="*{dni}"></div>
                        </div>
                        <div class="col-sm-6 mb-2 mt-2 mb-sm-0">
                            <label style="color: black">Foto de Perfil</label>
                            <div class="custom-file">
                                <input type="file" style="border-color:lightgray" id="inputGroupFile03">
                                <label class="custom-file-label " for="inputGroupFile03" style="border-color:lightgray">Foto de
                                    Perfil</label>
                            </div>
                        </div>


                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6" th:object="${Usuario_has_distrito}">
                            <div class="col-sm-12   mb-sm-0">
                                <label style="color: #000000">Dirección</label>
                                <input type="text" class="form-control" style="border-color:lightgray"
                                       id="direccion" placeholder="Dirección" th:field="*{direccion}">
                                <div th:if="${msg2 != null}" th:text="${msg2}" style="color: red; font-size: small; text-align: left" ></div>
                            </div>
                        </div>
                        <div class="col-sm-6  mb-2 mb-sm-0">
                            <label style="color: #000000">Distritos</label>
                            <select class="form-control" th:field="*{distritos}" style="border-color:lightgray">
                                <option value="0" selected>Distrito</option>
                                <option th:each="dist : ${listaDistritos}" th:value="${dist.iddistrito}"
                                        th:text="${dist.nombre}"></option>
                            </select>
                            <div th:if="${msg3 != null}" th:text="${msg3}" style="color: red; font-size: small; text-align: left" ></div>
                            <div th:if="${msg5 != null}" th:text="${msg5}" style="color: red; font-size: small; text-align: left" ></div>
                        </div>
                    </div>
                    <div class="form-group row">

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 mb-2 mb-sm-0 " style=text-align:center>
                            <img src="https://www.marketinhouse.es/wp-content/uploads/2018/06/geolocalizacion.jpg.webp"
                                 width="350" height="150">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-2 mt-2 mb-sm-0">
                            <label style="color: black">Contraseña</label>

                            <p>La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una
                                minúscula y al menos una mayúscula.</p>
                            <input type="password" class="form-control" style="border-color:lightgray"
                                   id="inputPassword1" th:field="*{contrasenia}"
                                   placeholder="Coloque contraseña">
                            <div style="color: red; font-size: small; text-align: left"
                                 th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}"></div>
                        </div>

                        <div class="col-sm-6 mb-2 mt-2 mb-sm-0">

                            <label style="color: black">Confirmar contraseña

                            </label>
                            <br>
                            <br>
                            <p>Repita su contraseña</p>
                            <input type="password" class="form-control" name="contrasenia2" placeholder="Confirmar contraseña"  style="border-color:lightgray">
                            <div th:if="${msg != null}" th:text="${msg}" style="color: red; font-size: small; text-align: left" ></div>
                        </div>
                    </div>


                    <div class="form-group row">

                    </div>
                    <hr>
                    <button class="btn btn-primary btn-user btn-block"
                            type="submit">
                        Registrar

                    </button>

                </form>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Volver Modal-->
<div class="modal fade" id="volverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea volver?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleecionar el botón volver, no se guardará la información registrada.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="../login.html">Volver</a>
            </div>
        </div>
    </div>
</div>
<!-- Registrar Modal-->
<div class="modal fade" id="registrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Confirmación de envío de solicitud</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al pulsar el botón "Enviar", sus datos serán enviados para la revisión por parte del
                administrador.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="registroValidacion.html">Enviar</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/vendor/bootstrap/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>


</body>

</html>