<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="Cliente/fragments/general.html :: header( title = 'Tarjetas')"></head>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Cliente/fragments/clienteFragment.html :: sidebar"></ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-6 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Al parecer no pasa nada si lo quitamos-->
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Buscar..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn" style="background-color:#701111; color:white;"
                                                type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Al parecer no pasa nada si lo quitamos-->

                    <!-- Nav Item - Alerts -->

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}"
                           th:text="${session.usuario.direccionactual} ">
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaCupones}">
                            <i class="fas fa-tags"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter" th:if="${notificaciones.size()>0||!notificaciones.isEmpty()}"
                                  th:text="${notificaciones.size()}"></span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="notificacion">
                                Pedido actual
                            </h6>
                            <p th:if="${notificaciones.size()==0||notificaciones.isEmpty()}"> No tiene pedidos pendientes</p>
                            <a th:if="${notificaciones.size()>0||!notificaciones.isEmpty()}" class="dropdown-item d-flex align-items-center"
                               th:each="pedido,in:${notificaciones}" th:href="@{'/cliente/detallePedidoActual?codigo='+${pedido.getCodigo()}}">
                                <div class="mr-3">
                                    <div class="icon-circle notificacion">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500" th:text="${pedido.getCodigo()}"></div>
                                    <span class="font-weight-bold" th:text="${pedido.getNombre()}"></span>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" th:href="@{cliente/pedidoActual}">
                                Mostrar todos mis pedidos</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header font-weight-bold "
                                style="background-color:white; color:#701111; border:#701111;"
                                th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">

                            </h6>
                            <a class="dropdown-item d-flex align-items-center">
                                <div class="mr-3">
                                    <i class="fas fa-mobile"></i>
                                </div>
                                <div class="font-weight">
                                    <div class="text-truncate" th:text="${session.usuario.telefono} "></div>
                                    <div class="small text-gray-500">Teléfono</div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">
                               </span>
                            <img class="img-profile rounded-circle" th:src="@{/img/undraw_profile.svg}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/cliente/editarPerfil}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Editar Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>


                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- CONTENT -->
                <div class="row">

                    <div class="col-xl-8 col-lg-7">

                        <!-- Area Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 " style="background-color: #701111;">
                                <h6 class="m-0 font-weight-bold text-gray-400 text-center">AGREGAR TARJETA</h6>
                            </div>
                            <div class="card-header py-3">

                                <form method="POST" th:action="@{/tarjeta/guardar}">
                                    <div class="form-row">

                                        <div class="col-md-12 mb-3">
                                            <div th:if="${cantTarj != null}" th:text="${cantTarj}"
                                                 class="alert alert-danger" role="alert"></div>
                                            <div th:if="${extTarj != null}" th:text="${extTarj}"
                                                 class="alert alert-danger" role="alert"></div>
                                            <label>Numero de Tarjeta</label>
                                            <input type="text" class="form-control " id="numeroTarjeta"
                                                   th:value="${tarjeta}" name="numeroTarjeta"
                                                   placeholder="Número de tarjeta">
                                            <div th:if="${msg1 != null}" th:text="${msg1}"
                                                 style="color: red; font-size: small; text-align: left"></div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label for="nombreC">Nombre </label>
                                            <input type="text" class="form-control " id="nombreC" name="nombreC"
                                                   th:value="${nombre}">
                                            <div th:if="${msg2 != null}" th:text="${msg2}"
                                                 style="color: red; font-size: small; text-align: left"></div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label for="apellidoC">Apellidos</label>
                                            <input type="text" class="form-control " id="apellidoC" name="apellidoC"
                                                   th:value="${apellido}">
                                            <div th:if="${msg3 != null}" th:text="${msg3}"
                                                 style="color: red; font-size: small; text-align: left"></div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label for="apellidoC">Fecha de Caducación</label>
                                            <div class="row">
                                                <div class="col">
                                                    <select class="form-control" id="mes" name="mes">
                                                        <option th:selected="${year == 0}" value="0">mes</option>
                                                        <option th:selected="${year == 1}" value="1">1</option>
                                                        <option th:selected="${year == 2}" value="2">2</option>
                                                        <option th:selected="${year == 3}" value="3">3</option>
                                                        <option th:selected="${year == 4}" value="4">4</option>
                                                        <option th:selected="${year == 5}" value="5">5</option>
                                                        <option th:selected="${year == 6}" value="6">6</option>
                                                        <option th:selected="${year == 7}" value="7">7</option>
                                                        <option th:selected="${year == 8}" value="8">8</option>
                                                        <option th:selected="${year == 9}" value="9">9</option>
                                                        <option th:selected="${year == 10}" value="10">10</option>
                                                        <option th:selected="${year == 11}" value="11">11</option>
                                                        <option th:selected="${year == 12}" value="12">12</option>
                                                    </select>
                                                    <div th:if="${mdg6 != null}" th:text="${mdg6}"
                                                         style="color: red; font-size: small; text-align: left"></div>
                                                </div>

                                                <div class="col">

                                                    <input type="text" class="form-control " id="year" name="year"
                                                           th:value="${year}" placeholder="año">
                                                    <div th:if="${msg5 != null}" th:text="${msg5}"
                                                         style="color: red; font-size: small; text-align: left"></div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label for="idcvv">CVV</label>
                                            <input type="text" class="form-control " placeholder="3 dígitos"
                                                   th:value="${cvv}" id="idcvv" name="idcvv">
                                            <div th:if="${msg4 != null}" th:text="${msg4}"
                                                 style="color: red; font-size: small; text-align: left"></div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <button class="btn btn-primary" type="submit">Agregar</button>
                                            <a class="btn btn-danger">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>


                    </div>

                    <!-- IMAGEN -->
                    <div class="col-xl-4 col-lg-5">
                        <h3></h3>
                        <img
                                src="https://www.viabcp.com/wcm/connect/51282a25-8123-4517-af63-f5ccb980633c/Visa%2BLight%2BBorde-optimizado.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-51282a25-8123-4517-af63-f5ccb980633c-nyEVHqH"
                                width="100%" height="50%">

                        <div th:if="${listaTarjetas.size()==0}">
                            <h3>No hay tarjetas registradas</h3>
                        </div>

                        <form th:action="@{/tarjeta/eliminar}" method="post">
                            <div class="card-body mt-2" th:unless="${listaTarjetas.size()==0}">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                N°
                                            </th>
                                            <th>
                                                Tarjeta
                                            </th>
                                            <th>

                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="tarjeta,v : ${listaTarjetas}">
                                            <td th:text="${v.index+1}">1</td>
                                            <td th:text="|${tarjeta.numerotarjeta.substring(0,6)}******${tarjeta.numerotarjeta.substring(6,9)}|">
                                                xxxxxxxxxxxxxxxx
                                            </td>
                                            <td><input type="checkbox"
                                                       name="listaTarjetasSelecciones"
                                                       th:value="${tarjeta.idtarjeta}"></td>
                                        </tr>

                                        </tbody>

                                    </table>
                                    <div class="col-md-12 mb-4">
                                        <button type="button" class="btn btn-dark" th:type="submit">
                                            <i class="fas fa-trash"></i>
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleccionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>




</body>
<!-- Bootstrap core JavaScript-->
<script src="../bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="../bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../bootstrap/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../bootstrap/js/demo/chart-area-demo.js"></script>
<script src="../bootstrap/js/demo/chart-pie-demo.js"></script>
<script src="../bootstrap/js/demo/chart-bar-demo.js"></script>

</html>