<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="Cliente/fragments/general.html :: header( title = 'Terminar Compra')"></head>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Cliente/fragments/clienteFragment.html :: sidebar"></ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-6 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Buscar..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn" style="background-color:#701111; color:white;"
                                                type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Al parecer no pasa nada si lo quitamos-->

                    <!-- Nav Item - Alerts -->

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}"
                           th:text="${session.usuario.direccionactual} ">
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaDirecciones}">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{/cliente/listaCupones}">
                            <i class="fas fa-tags"></i>
                        </a>
                    </li>
                    <!--
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            Counter - Alerts
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                         Dropdown - Alerts
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="notificacion">
                                Pedido actual
                            </h6>
                            <p th:if="${notificaciones.size()==0}"> No tiene pedidos pendientes</p>
                            <a th:if="${notificaciones.size()>0}" class="dropdown-item d-flex align-items-center"
                               th:each="pedido,in:${notificaciones}" th:href="@{'/cliente/detallePedidoActual?codigo='+${pedido.getCodigo()}}">
                                <div class="mr-3">
                                    <div class="icon-circle notificacion">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                            </a>
                            <a th:if="${notificaciones.size()>0}" class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <img class="icon-circle" src="img/rosaNautica.jpg">
                                </div>
                                <div>
                                    <div class="small text-gray-500" th:text="${pedido.getCodigo()}"></div>
                                    <span class="font-weight-bold" th:text="${pedido.getNombre()}"></span>
                                    <span class="font-weight-bold" th:if="${pedido.getEstado==0}" th:text=" | - Pendiente|"> </span>
                                    <span class="font-weight-bold" th:if="${pedido.getEstado!=0}" th:text=" | - Cancelado|"> </span>
                                </div>
                            </a>
                            <a th:if="${notificaciones.size()>0}" class="dropdown-item text-center small text-gray-500" th:href="@{cliente/pedidoActual}">
                                Mostrar todos mis pedidos</a>
                        </div>
                    </li> -->

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header font-weight-bold "
                                style="background-color:white; color:#701111; border:#701111;"
                                th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">

                            </h6>
                            <a class="dropdown-item d-flex align-items-center">
                                <div class="mr-3">
                                    <i class="fas fa-mobile"></i>
                                </div>
                                <div class="font-weight">
                                    <div class="text-truncate" th:text="${session.usuario.telefono} "></div>
                                    <div class="small text-gray-500">Teléfono</div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text="| ${session.usuario.nombres} ${session.usuario.apellidos}|">
                               </span>
                            <img class="img-profile rounded-circle" th:src="@{/img/undraw_profile.svg}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/cliente/editarPerfil}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Editar Perfil
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>


                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4 mt-5">
                    <div class="card-header py-3" style="background-color: #701111;">
                        <!-- MANDAR EL NOMBRE DEL REST -->
                        <h5 class="font-weight-bold text-white text-left" th:text="|Ya casi Acabas|"></h5>

                    </div>

                    <div class="row">

                        <div class="col mr-3 mb-5 ml-3 mt-4">
                            <div class="card-background text-center" style="background-color: #ece7e7; border-color: #FFFFFF">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item active">
                                            <a href="#content_online" class="nav-link" role="tab" data-toggle="tab"
                                               id="title_online"
                                               style="color: #6f6f6f"><strong>PAGO
                                                ONLINE</strong></a>
                                        </li>
                                        <li class="nav-item ml-2">
                                            <a href="#content_pos" class="nav-link" role="tab" data-toggle="tab"
                                               id="title_pos" style="color:#6f6f6f"><strong>PAGO
                                                POS</strong></a>
                                        </li>
                                        <li class="nav-item ml-2">
                                            <a href="#content_efectivo" class="nav-link" role="tab" data-toggle="tab"
                                               id="title_efectivo" style="color:#6f6f6f"><strong>PAGO
                                                EFECTIVO</strong></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade" id="content_online">
                                        <div class="container">
                                            <div class="row justify-content-start">
                                                <div class="col-2 mt-3 ml-2">
                                                    <i class="fab fa-cc-visa" style="color: darkblue"></i>
                                                    <i class="fab fa-cc-mastercard" style="color: darkred"></i>
                                                </div>
                                            </div>
                                            <hr width="100%" style="border-top: #701111 solid" align="left"
                                                class="ml-3">

                                            <div class="row justify-content-between mt-3">
                                                <div class="col-6 mt-1">
                                                    <h6 style="color:#000000;" class="ml-3 mt-1 text-left"><strong>Seleccione una tarjeta: </strong></h6>
                                                    <br>
                                                    <h6 style="color:#000000;" class="ml-3 mt-1 text-left"><strong>Tipo
                                                        de Tarjeta</strong></h6>
                                                    <br>
                                                    <h6 style="color:#000000;" class="ml-3 mt-1 text-left"><strong>Número
                                                        de Tarjeta: </strong></h6>
                                                    <br>
                                                    <h6 style="color:#000000;" class="ml-3 mt-3 text-left"><strong>Expiración:
                                                        (mm/yy)</strong>
                                                    </h6>
                                                    <br>
                                                    <h6 style="color:#000000;" class="ml-3 mt-1 text-left">
                                                        <strong>CVV</strong></h6>
                                                    <br>
                                                </div>
                                                <div class="col-6">
                                                    <div th:if="${listaTarjetas.size() == 0}" class="mt-2 mb-4"><h6><strong>No tiene una tarjeta registrada</strong></h6></div>
                                                    <select th:if="${listaTarjetas.size() != 0}" class="form-control form-control-sm mb-4" name="tarjeta" form="generarPedido">
                                                        <option value="" disabled selected>Seleccione una tarjeta</option>
                                                        <option th:each="tarjeta : ${listaTarjetas}"
                                                                th:text="|${tarjeta.getNumerotarjeta()}|"
                                                                th:value="${tarjeta.getIdtarjeta()}"></option>
                                                    </select>

                                                    <div class="container">
                                                        <select th:if="${tipo != null}" class="form-control form-control-sm" name="newTarjeta" form="generarPedido">
                                                            <option value="" disabled>Seleccione el tipo de su tarjeta</option>
                                                            <option value="1" th:selected="${tipo.equals('1')}">Visa</option>
                                                            <option value="2" th:selected="${tipo.equals('2')}">Mastercad</option>
                                                        </select>
                                                        <select th:if="${tipo == null}" class="form-control form-control-sm" name="newTarjeta" form="generarPedido">
                                                            <option value="" disabled selected>Seleccione el tipo de su tarjeta</option>
                                                            <option value="1">Visa</option>
                                                            <option value="2">Mastercad</option>
                                                        </select>
                                                        <h6 th:if="${msgTipoVal != null}" style="color: red; font-size: 15px" th:text="${msgTipoVal}"></h6>
                                                    </div>
                                                    <br>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control text-center"
                                                               name="numeroTarjeta" form="generarPedido"
                                                                th:placeholder="${numTarjeta == null ? '' : numTarjeta }">
                                                        <h6 th:if="${msgNumTarjetaVal != null}" style="color: red; font-size: 15px" th:text="${msgNumTarjetaVal}"></h6>
                                                    </div>
                                                    <br>
                                                    <div class="container">
                                                        <div class="form-check-inline">
                                                            <select th:if="${mes != null}" class="form-control form-control-sm mr-2" id="mes" name="mes" form="generarPedido">
                                                                <option value="" disabled>mes</option>
                                                                <option value="1" th:selected="${mes.equals('1')}">1</option>
                                                                <option value="2" th:selected="${mes.equals('2')}">2</option>
                                                                <option value="3" th:selected="${mes.equals('3')}">3</option>
                                                                <option value="4" th:selected="${mes.equals('4')}">4</option>
                                                                <option value="5" th:selected="${mes.equals('5')}">5</option>
                                                                <option value="6" th:selected="${mes.equals('6')}">6</option>
                                                                <option value="7" th:selected="${mes.equals('7')}">7</option>
                                                                <option value="8" th:selected="${mes.equals('8')}">8</option>
                                                                <option value="9" th:selected="${mes.equals('9')}">9</option>
                                                                <option value="10" th:selected="${mes.equals('10')}">10</option>
                                                                <option value="11" th:selected="${mes.equals('11')}">11</option>
                                                                <option value="12" th:selected="${mes.equals('12')}">12</option>
                                                            </select>
                                                            <select th:if="${mes == null}" class="form-control form-control-sm mr-2" id="mes" name="mes" form="generarPedido">
                                                                <option value="" disabled selected>mes</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                            </select>
                                                            <input type="text" class="form-control  form-control-sm" id="year" name="year" form="generarPedido"
                                                                   th:placeholder="${anio == null ? '' : anio}"
                                                                   placeholder="año">
                                                        </div>
                                                        <h6 th:if="${msgFechaVal != null}" style="color: red; font-size: 15px" th:text="${msgFechaVal}"></h6>
                                                    </div>
                                                    <br>
                                                    <div class="input-group input-group-sm mb-3 mt-3">
                                                        <input type="text" class="form-control " placeholder="3 dígitos" form="generarPedido"
                                                               th:placeholder="${cvv== null ? '' : cvv}"  id="idcvv" name="cvv">
                                                        <h6 th:if="${msgCvvVal != null}" style="color: red; font-size: 15px" th:text="${msgCvvVal}"></h6>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="content_pos">
                                        <div class="container">
                                            <div class="row justify-content-start">
                                                <div class="col-2 mt-3 ml-2">
                                                    <i class="fab fa-paypal" style="color: darkred;"></i>
                                                </div>
                                            </div>
                                            <hr width="100%" style="border-top: #701111 solid" align="left"
                                                class="ml-3">

                                            <div class="row justify-content-between mt-2 mb-2">
                                                <h6 class="ml-4 mb-4" style="color: black"><strong>El repartidor aceptará cualquier tarjeta de crédito (Visa/Mastercard)</strong></h6>
                                                <!--
                                                <div class="col-6 mt-1">
                                                    <h6 style="color:#000000;" class="ml-3 mt-1 text-left"><strong>Ingrese
                                                        el tipo de tarjeta con la que pagará: </strong></h6>
                                                </div>
                                                <div class="col-6">
                                                    <select class="form-control form-control-sm mt-2">
                                                        <option selected>Seleccionar una tarjeta</option>
                                                        <option value="1">Visa</option>
                                                        <option value="2">Mastercard</option>
                                                    </select>
                                                </div>
                                                -->
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="content_efectivo">
                                        <div class="container">
                                            <div class="row justify-content-start">
                                                <div class="col-2 mt-3 ml-2">
                                                    <i class="fas fa-money-bill" style="color: darkgreen"></i>
                                                </div>
                                            </div>
                                            <hr width="100%" style="border-top: #701111 solid" align="left"
                                                class="ml-3">

                                            <div class="row justify-content-between mt-2 mb-2">
                                                <div class="col-6 mt-2">
                                                    <h6 style="color:#000000;" class="ml-3 mt-1 mb-4 text-left"><strong>Ingrese
                                                        con cuánto cancelará: </strong></h6>
                                                </div>
                                                <div class="col-6">
                                                    <div class="input-group input-group-sm mb-3 mt-2">
                                                        <h6>S/. </h6>
                                                        <input type="text" class="form-control text-center ml-2" name="efectivoPagar" form="generarPedido">
                                                        <h6 th:if="${msgEfect != null}" style="color: red; font-size: 15px" th:text="${msgEfect}"></h6>
                                                        <h6 th:if="${msgNotString != null}" style="color: red; font-size: 15px" th:text="${msgNotString}"></h6>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container mt-3 mb-3">
                                <div class="row justify-content-center">
                                    <!-- <img src="img/pago.jpg"> -->
                                    <img src="https://cdn.shopify.com/s/files/1/0457/7476/6240/files/oie_transparent_1_1200x1200.png?v=1611084564" class="mt-3" width="450" height="225" alt="Avatar">
                                </div>
                            </div>
                        </div>
                        <div class="col mt-4">
                            <!--   <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        Button with data-bs-target
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        Some placeholder content for the collapse component. This panel is
                                        hidden by default but revealed when the user activates the relevant
                                        trigger.
                                    </div>
                                </div> -->
                            <div class="card-background mr-3 mb-5 ml-3" style="background-color: #ece7e7; border-color: #FFFFFF">
                                <div class="row justify-content-between mt-2">
                                    <div class="col-4">
                                        <!-- TODO MOSTRAR LA LISTA CARRITO -->
                                        <div class="form-check-inline mt-sm-2">
                                            <h6 style="color:#000000; size: auto" class="ml-3 mt-2 mr-3"><strong>Carrito</strong>
                                            </h6>
                                            <button class="btn" data-toggle="modal"
                                                    data-target="#carritoModal"><i class="fas fa-eye"></i></button>
                                        </div>
                                        <div class="form-check-inline mt-sm-1">
                                            <h6 style="color:#000000; size: auto" class="ml-3 mt-2 mr-3"><strong>Extras</strong>
                                            </h6>
                                            <button th:if="${session.extrasCarrito != null}" class="btn" data-toggle="modal"
                                                    data-target="#carritoExtraModal"><i class="fas fa-eye"></i></button>
                                        </div>
                                        <h6 style="color:#000000;" class="ml-3 mt-3"><strong>Delivery</strong></h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 style="color:#000000;" class="mr-3 mt-sm-3"><strong th:text="|S/. ${#numbers.formatDecimal(montoCarrito,1,2)}|"></strong></h6>
                                        <h6 style="color:#000000;" class="mr-3 mt-sm-4"><strong th:text="|S/. ${#numbers.formatDecimal(montoExtras,1,2)}|"></strong></h6>
                                        <h6 style="color:#000000;" class="mr-3 mt-sm-4"><strong th:text="|S/. ${session.delivery}|"></strong></h6>
<!--
                                        <input name="delivery" form="generarPedido" th:value="${delivery}" hidden>
-->
                                    </div>
                                </div>
                                <hr width="85%" style="border-top: #701111 solid" align="left" class="ml-3">
                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        <h4 style="color: #701111" class="ml-3"><strong>Submonto: </strong></h4>
                                        <br>
                                        <h7 class="ml-3"><strong>¿Tiene algún cupón? </strong></h7>
                                        <h7 class="ml-3" th:if="${listaCupones.size() == 0}"> No </h7>
                                        <select th:if="${listaCupones.size() != 0}" class="form-control form-control-sm ml-3 mt-2" name="cupon" form="generarPedido">
                                            <option value="" selected>Seleccione un cupón</option>
                                            <option th:each="cupon : ${listaCupones}"
                                                    th:value="${cupon.getIdcupon()}"
                                            th:text="|- S/. ${cupon.getDescuento()} por ${cupon.getPolitica()}|"></option>
                                        </select>
                                        <div th:if="${msgCuponVal != null}" class="container mt-2 mr-1">
                                            <h6 style="color: red" th:text="${msgCuponVal}"></h6>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6 style="color:#000000;" class="mr-3 mt-sm-1"><strong th:text="|S/. ${#numbers.formatDecimal(montoCarrito + montoExtras + session.delivery,0,2)}|"></strong></h6>
                                        <br>
                                        <h6 th:if="${descuento != null}" style="color:#000000;" class="mr-3 mt-sm-2"><strong th:text="|- S/. ${descuento}|"></strong></h6>
                                    </div>
                                </div>
                                <div class="form-check-inline">
                                    <div class="container mt-4" style="width: 300px">
                                        <!-- ONLINE -->
                                        <input class="form-check-input" name="metodoPago" form="generarPedido" type="checkbox" value="2" id="online" onclick="escogerMetodoPago()"
                                            th:checked="${msgNumTarjetaVal != null || msgFechaVal != null
                                                            || msgCvvVal != null || msgTipoVal  != null
                                                            || msgNullMdp != null}">
                                        <i class="fab fa-cc-visa" style="color: darkblue"></i>
                                        <i class="fab fa-cc-mastercard" style="color: darkred"></i>
                                    </div>
                                    <div class="container mt-4">
                                        <!-- POS -->
                                        <input class="form-check-input" type="checkbox" form="generarPedido" name="metodoPago" value="3" id="pos" onclick="escogerMetodoPago()">
                                        <i class="fab fa-paypal" style="color: darkred;"></i>
                                    </div>
                                    <div class="container mt-4">
                                        <!-- EFECTIVO -->
                                        <input class="form-check-input" type="checkbox" form="generarPedido" name="metodoPago" value="1" id="efectivo" onclick="escogerMetodoPago()"
                                               th:checked="${msgEfect != null || msgNotString != null}">
                                        <i class="fas fa-money-bill" style="color: darkgreen"></i>
                                    </div>
                                </div>
                                <div th:if="${msgMetPagoVal != null}" class="container mt-2 mr-1">
                                    <h6 style="color: red" th:text="${msgMetPagoVal}"></h6>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="direcc" class="ml-4"><strong>Dirección Actual</strong></label>
                                        <div class="form-check-inline">
<!--th:if="${ubicaion == null} -->         <select class="form-control ph-center ml-4" id="direcc" style="border-color: lightgray" name="ubicacion" form="generarPedido">
                                                <option th:each="direccion :${listaDirecciones}"
                                                th:value="${direccion.getIdubicacion()}"
                                                th:text="|${direccion.getDistrito().getNombre()} - ${direccion.getDireccion()}|"
                                                th:selected="${session.usuario.direccionactual.equals(direccion.getDireccion())}"></option>
                                            </select>
                                           <!-- <select th:if="${ubicaion != null}" class="form-control ph-center ml-4" id="direcc" style="border-color: lightgray" name="ubicacion" form="terminarCompra">
                                                <option th:each="direccion :${listaDirecciones}"
                                                th:value="${direccion.getIdubicacion()}"
                                                th:selected="${distritoActual != null}"></option>
                                            </select>-->
<!--
                                            <button class="btn btn-cielito ml-2" type="submit">Seleccionar</button>
-->
                                        </div>
                                        <div th:if="${msgUbicVal != null}" class="container mt-2 mr-1">
                                            <h6 style="color: red" th:text="${msgUbicVal}"></h6>
                                        </div>

                                    </div>
                                </div>
                                <hr width="85%" style="border-top: #701111 solid" align="left" class="ml-3">
                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        <h4 style="color: #701111" class="ml-3" ><strong>Monto Total: </strong></h4>
                                    </div>
                                    <div class="col-4">
                                        <h6 th:if="${descuento == null}" style="color:#000000;" class="mr-3 mt-sm-2"><strong th:text="|S/. ${#numbers.formatDecimal(montoCarrito + montoExtras + session.delivery,1,2)}|"></strong></h6>
                                        <h6 th:if="${descuento != null}" style="color:#000000;" class="mr-3 mt-sm-2"><strong th:text="|S/. ${#numbers.formatDecimal(montoCarrito + montoExtras - descuento + session.deliviery,1,2)}|"></strong></h6>
                                    </div>
                                </div>
                                <hr width="85%" style="border-top: #701111 solid" align="left" class="ml-3">
                                <div class="container">
                                    <form th:action="@{'/cliente/generarPedido'}" method="post" id="generarPedido"></form>

                                    <div class="row justify-content-end mb-5">
                                        <a class="btn btn-back mr-3" style="color: #FFFFFF; background-color: #d6bd1d; border: #701111"
                                           th:href="@{'/cliente/mostrarCarrito'}"><i
                                                class="fas fa-arrow-left"></i> Regresar
                                        </a>
                                        <button class="btn btn-pay mr-4" data-toggle="modal" style="color: #FFFFFF; background-color: #64a94d; border: #701111"
                                                data-target="#terminarCompra"><i class="fas fa-money-bill"></i> Terminar
                                            Compra
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- End of Page Content -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Carrito Modal -->
<div class="modal fade" id="carritoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Carrito de Compras</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" th:each="plato : ${session.carrito}">
                        <div class="col-3">
                            <img class="img-profile rounded-circle" alt="list-style-image"
                                 style="width: 35px; height: 35px"
                                 th:src="@{'/cliente/imagesPlato?id='+${plato.getPlato().getIdplato()}}">
                        </div>
                        <div class="col-3" th:text="${plato.getPlato().getNombre()}"></div>
                        <div class="col-3" th:text="|${plato.getCantidad()} uni.|"></div>
                        <div class="col-3" th:text="|S/. ${plato.getPreciounitario()}|"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Extra Modal -->
<div class="modal fade" id="carritoExtraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">Carrito de Extras</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                      <div class="row" th:if="${session.extrasCarrito != null}" th:each="extras : ${session.extrasCarrito}">
                            <div class="col-3">
                                <img class="img-profile rounded-circle" alt="list-style-image"
                                     style="width: 35px; height: 35px"
                                     th:src="@{'/cliente/imagenExtra?id='+${extras.getExtra().getIdextra()}}">
                            </div>
                          <div class="col-3" th:text="${extras.getExtra().getNombre()}"></div>
                          <div class="col-3" th:text="|${extras.getCantidad()} uni.|"></div>
                          <div class="col-3 text-center" th:text="|S/. ${extras.getPreciounitario()}|"></div>
                      </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Terminar Modal -->
<div class="modal fade" id="terminarCompra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2  ">¿Desea Terminar la Compra?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary"
                    style="color: #FFFFFF; background-color: #64a94d; border: #701111"
                   type="submit" form="generarPedido">Terminar Compra</button>
            </div>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleccionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="../bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="../bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../bootstrap/js/demo/datatables-demo.js"></script>

<script th:src="@{'/js/escogerMetodoPago/escogerMetodoPago.js'}"></script>

</body>

</html>
