<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/cssAR/estilosAdminRest.css}" rel="stylesheet" type="text/css">
<head th:replace="Repartidor/fragments/generalRepartidor.html :: head_page(page_name = 'Editar perfil')"></head>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Repartidor/fragments/generalRepartidor.html :: topbar" ></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="Repartidor/fragments/generalRepartidor.html :: navbar(notificaciones=${notificaciones})"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="row">

                    <div class="col-xl-12 col-lg-7">

                        <!-- Area Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 " style="background-color: #701111;">
                                <h6 class="m-0 font-weight-bold text-gray-400 text-center">EDITAR PERFIL</h6>
                            </div>
                            <div class="card-header py-3">

                                <form method="POST" th:action="@{/repartidor/guardarEditar}">
                                    <div class="form-row">

                                        <div class="col-md-6 mb-3">
                                            <label>Nombres </label>
                                            <input type="text" class="form-control"th:value="${session.usuario.nombres}" disabled>

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label>Apellido </label>
                                            <input type="text" class="form-control" th:value="${session.usuario.apellidos}" disabled>

                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>Correo </label>
                                            <input type="text" class="form-control" th:value="${session.usuario.correo}" disabled>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>Fecha de Nacimiento</label>
                                            <input type="text" class="form-control"
                                                   th:value="${session.usuario.fechanacimiento}" disabled>

                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>N° de celular</label>
                                            <input type="text" class="form-control" th:value="${session.usuario.telefono}" name="telefonoNuevo" >
                                            <div th:if="${msg1 != null}" th:text="${msg1}" style="color: red; font-size: small; text-align: left" ></div>
                                            <div th:if="${msg2 != null}" th:text="${msg2}" style="color: red; font-size: small; text-align: left" ></div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>Contraseña (Confirmación)</label>
                                            <input type="password" class="form-control " name="contraseniaConf" >
                                            <div th:if="${msg != null}" th:text="${msg}" style="color: red; font-size: small; text-align: left" ></div>

                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <div style=text-align:center>
                                                <button  class="btn btn-primary"  type="submit">Guardar</button>
                                                <a  class="btn btn-danger" th:href="@{/repartidor/listaPedidos}" >Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>


                    </div>

                    <!-- IMAGEN -->
                </div>

            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Geek Developers &copy; 2021-1</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>


    </div>
    <!-- /.container-fluid -->

    <!-- /.container-fluid -->


</div>
<!-- End of Main Content -->




</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleecionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" ></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/bootstrap/vendor/jquery-easing/jquery.easing.min.js}" ></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/vendor/bootstrap/js/sb-admin-2.min.js}" ></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" ></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script  th:src="@{/js/demo/datatables-demo.js}"></script>
</body>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
<script>$(document).ready(function () {
    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                $('#image_preview').attr('src', e.target.result);
                $('#image_preview').removeAttr('hidden');
            }
            reader.readAsDataURL(input.files[0]);
            console.log(input.files[0].name.split(".")[1])
            let extensions = ['jpg', 'jpeg', 'png']
            if (!(extensions.includes(input.files[0].name.split(".")[1]))) {
                $('#photo_error').text('Debe adjuntar archivos con extensión png, bmp o jpg').removeAttr('hidden');
                $('#error').attr('hidden', 'true');
            } else {
                $('#photo_error').attr('hidden', 'true');
            }
        }
    }

    $("#imagen").change(function () {
        console.log("sdafefdgsagsagasdg");
        readURL(this);
    });
})</script>


</html>