<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/cssAR/estilosAdminRest.css}" rel="stylesheet" type="text/css">
<head th:replace="Repartidor/fragments/generalRepartidor.html :: head_page(page_name = 'Solicitudes pedidos')"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Repartidor/fragments/generalRepartidor.html :: topbar" ></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="Repartidor/fragments/generalRepartidor.html :: navbar(direcciones=${direcciones})"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <div class="d-sm-flex align-items-center justify-content-between">

                            <h5 class="font-weight-bold text-white text-lg-center mx-auto">ENTREGA ACTUAL</h5>

                        </div>

                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6" th:object="${pedidoAct}">
                                        <div class="row">
                                            <h1 class="card-title"
                                                style="color: black"
                                                th:text="|${pedidoAct.cliente.nombres} - ${pedidoAct.ubicacion.distrito.nombre}|">Ceviche - Restaurante Marino</h1>
                                            <p class="card-text"
                                               th:utext="'Dirección de restaurante: '+${pedidoAct.restaurante.direccion}
                                            +'<br>Direción de envio: '+${pedidoAct.ubicacion.direccion}
                                            +'<br>Hora de registro de pedido: '+${pedidoAct.fechapedido}
                                            +'<br>Método de pago : '+${pedidoAct.metodopago.tipo}">Dirección de restaurante: Av. Universitaria 345<br>
                                                Direción de cliente: Av. Universitaria 987<br>
                                                Producto: Ceviche<br>
                                                Hora de registro de pedido:   17:49<br>
                                                Método de pago : Efectivo</p>
                                        </div>


                                    </div>
                                    <div class="col-sm-6">
                                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/70/b9/5f/salon-principal.jpg" class="img-fluid mx-auto" style="width: 90%; height: 70%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <div class="d-sm-flex align-items-center justify-content-between">

                            <h5 class="font-weight-bold text-white text-lg-center mx-auto">PROCESO DE LA ENTREGA</h5>

                        </div>

                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <h4  style="color: black">Confirmación de la recepción del pedido</h4>
                                            <p >Si el pedido fue recogido del restaurante y ya se encuentra
                                                en camino hacia la dirección del cliente, confirme su recepción.</p>
                                        </div>


                                    </div>
                                    <div class="col-sm-6 mx-auto" style="position: relative; left: 25%">
                                       <a  class="btn " style="background-color: black; color: white">Confirmar</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <h4  style="color: black">Finalizar entrega</h4>
                                            <p >Si el pedido fue recogido del restaurante y ya se encuentra
                                                en camino hacia la dirección del cliente, confirme su recepción.</p>
                                        </div>


                                    </div>
                                    <div class="col-sm-6 mx-auto" style="position: relative; left: 25%">
                                        <a  class="btn disabled" style="background-color: black; color: white">Confirmar</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                    </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Geek Developers &copy; 2021-1</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
                </div>


            </div>
            <!-- /.container-fluid -->

            <!-- /.container-fluid -->


        </div>
        <!-- End of Main Content -->




    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleecionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="/html/login.html">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="../bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../bootstrap/js/demo/datatables-demo.js"></script>

</body>

</html>