<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/cssAR/estilosAdminRest.css}" rel="stylesheet" type="text/css">
<head th:replace="Repartidor/fragments/generalRepartidor.html :: head_page(page_name = 'Reporte ingresos')"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Repartidor/fragments/generalRepartidor.html :: topbar" ></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="Repartidor/fragments/generalRepartidor.html :: navbar(notificaciones=${notificaciones})"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <form th:action="@{/repartidor/reporteIngresos}" method="get">
                    <div class=" form-group row" >
                        <div class="col-sm-4 mb-2 " style="position: relative; left: 33.5%" th:text="|Ingreso total : S/. ${precioTotal}|">
                           Ingreso total : S/. 1176.00
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 mb-2">
                            <select class="form-control" name="anio">
                                <option value="" disabled selected>Año</option>
                                <option th:each="anio:${anios}"
                                        th:value="${anio}"
                                        th:text="${anio}"
                                        th:selected="${anioSelect==anio}"></option>
                            </select>
                        </div>

                        <div class="col-sm-1 mb-2 mb-sm-0">
                            <button class="btn" style="background-color:#701111; color:white; border:#701111" type="submit">
                                <i class="fas fa-filter"></i>
                            </button>
                        </div>
                        <div class="col-sm-2 mb-1" style="text-align: right">
                            <a class="btn btn-secondary" th:href="@{/repartidor/reporteIngresos}">Quitar filtros</a>
                        </div>
                    </div>


                </form>

                <div class="card shadow mb-4">
                    <div class="card-header py-3 " style="background-color: #701111;">

                        <div class="d-sm-flex align-items-center justify-content-between">

                            <h5 class="font-weight-bold text-white text-lg-center mx-auto " id="nombre_pagina"
                                th:text="|REPORTE DE INGRESOS - ${anioSelect}|" ></h5>
                            <button  id="btnExportar" class="btn btn-warning mr-1 ">Exportar</button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tabla" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">
                                        Mes
                                    </th>
                                    <th class="text-center">
                                        Entregas a un mismo distrito
                                    </th>
                                    <th class="text-center">
                                        Entregas a un diferente distrito
                                    </th>
                                    <th class="text-center">
                                        Total del mes
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="reporteMes : ${reporte}">
                                    <td th:text="${reporteMes.getNombre()}" style="width: 300px">Enero</td>
                                    <td th:text="|S/.${(reporteMes.getCantmd()==null?0:reporteMes.getCantmd())*4}.00|" style="width: 250px">S/.50</td>
                                    <td th:text="|S/.${(reporteMes.getCantdd()==null?0:reporteMes.getCantdd())*6}.00|" style="width: 250px">S/.48</td>
                                    <td th:text="|S/.${(reporteMes.getCantmd()==null?0:reporteMes.getCantmd())*4+(reporteMes.getCantdd()==null?0:reporteMes.getCantdd())*6}.00|" style="width: 160px">S/.98</td>
                                </tr>
                                <tr>
                                    <td style="width: 300px"></td>
                                    <td style="width: 700px"></td>
                                    <td style="width: 250px">TOTAL:</td>
                                    <td style="width: 160px" th:text="|S/.${precioTotal}|">S/.1176</td>
                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Geek Developers &copy; 2021-1</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->
                </div>

            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Al seleecionar el boton salir, usted cerrará su sesión.</div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function exportTableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        var now = new Date();
        // Specify file name

        filename = filename?filename+now+'.xls':'excel_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
</script>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" ></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/bootstrap/vendor/jquery-easing/jquery.easing.min.js}" ></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/vendor/bootstrap/js/sb-admin-2.min.js}" ></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" ></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<script th:src="@{/js/exportar.js}"></script>

<!-- Page level custom scripts -->
<script  th:src="@{/js/demo/datatables-demo.js}"></script>
</body>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
<script>$(document).ready(function () {
    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                $('#image_preview').attr('src', e.target.result);
                $('#image_preview').removeAttr('hidden');
            }
            reader.readAsDataURL(input.files[0]);
            console.log(input.files[0].name.split(".")[1])
            let extensions = ['jpg', 'jpeg', 'png']
            if (!(extensions.includes(input.files[0].name.split(".")[1]))) {
                $('#photo_error').text('Debe adjuntar archivos con extensión png, bmp o jpg').removeAttr('hidden');
                $('#error').attr('hidden', 'true');
            } else {
                $('#photo_error').attr('hidden', 'true');
            }
        }
    }

    $("#imagen").change(function () {
        console.log("sdafefdgsagsagasdg");
        readURL(this);
    });
})</script>


</html>