<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/actualizarContraOlvidada}" method="post">
    <input name="id" th:value="${id}" hidden="">
    <label>Ingrese contraseña nueva:</label><br>
    <input type="password" name="contra1"><br>
    <label>Repita contraseña nueva:</label><br>
    <input type="password" name="contra2"><br><br>
    <button type="submit">Actualizar</button>
</form>
</body>
</html>