<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Creación exitosa')"></head>

<body id="page-top1">

<!-- Page Wrapper -->
<div id="wrapper1">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper1" class="d-flex flex-column">


        <!-- Main Content -->
        <div id="content1" class=" bg-login-image2">


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-5 mt-5 mx-auto bg-welcome"
                     style="width: 50%; height: 25%; text-align: center">
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <strong><h1 style="text-align: center; color: white"
                                class="text-sm-center text-uppercase text">
                        Su cuenta ha sido validada correctamente.
                    </h1>
                    </strong>

                    <div class="card-body" style="text-align: center">
                        <h1 style="color: #FFFFFF; font-size: 110%; text-align: center" class="text-sm-center"
                            th:if="${rol == 3 || rol == 4}">
                            Los administradores están evaluando su cuenta.
                        </h1>
                        <a th:href="@{/login}">Entendido</a>
                        </div>
                    <a class="btn-success" type="bu"></a>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>
                    <div class="card-body"></div>


                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Geek Developers &copy; 2021-1</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top1">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/vendor/bootstrap/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>
</body>

</html>