<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Creación exitosa')"></head>

    <body th:if="${(estadoRestaurante!=2&&estadoRestaurante!=1&&estadoRestaurante!=3)||estadoRestaurante==null||estadoRestaurante==0}"
          id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">


                <!-- Main Content -->
                <div id="content" class=" bg-login-image2">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">

                        <!-- Sidebar Toggle (Topbar) -->
                        <form class="form-inline">
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-bars"></i>
                            </button>
                        </form>

                        <!-- Topbar Search -->

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                            </li>

                            <!-- Nav Item - Alerts -->


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-white small"
                                          th:text="|${session.usuario.nombres.split(' ')[0]} ${session.usuario.apellidos.split(' ')[0]}|"></span>
                                    <img class="img-profile rounded-circle" th:src="@{|imagenadmin/${session.usuario.getDni()}|}"
                                         type="image/png" alt="avatar">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <form id="cerrar" th:action="@{/logout}" method="post">
                                        <a class="nav-link" data-toggle="modal"
                                           href="#logoutModal" data-target="#logoutModal"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Cerrar
                                            Sesión
                                        </a>
                                    </form>
                                </div>
                            </li>

                        </ul>

                    </nav>

                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-5 mt-5 mx-auto bg-welcome"
                             style="width: 50%; height: 25%; text-align: center">
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <strong><h1 style="text-align: center; color: #FFFFFF"
                                        class="text-sm-center text-uppercase text"
                                        th:text="${'Bienvenid@ '+session.usuario.getNombres() + ' '+session.usuario.getApellidos()}"></h1>
                            </strong>
                            <h1 style="color: #FFFFFF; font-size: 110%; text-align: center" class="text-sm-center">
                                Vamos a comenzar...</h1>
                            <div class="card-body" style="text-align: center"><a class="btn btn-primary"
                                                                                 th:href="@{/registroRest}"
                                                                                 style="width: 30%;">Registrar mi
                                restaurante</a></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>


                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" form="cerrar" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Scripts -->
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
        <!-- End Scripts -->
    </body>
    <body id="page-top1" th:if="${estadoRestaurante==2||estadoRestaurante==1}">

        <!-- Page Wrapper -->
        <div id="wrapper1">

            <!-- Sidebar -->
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper1" class="d-flex flex-column">


                <!-- Main Content -->
                <div id="content1" class=" bg-login-image2">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">

                        <!-- Sidebar Toggle (Topbar) -->

                        <!-- Topbar Search -->

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->


                            <!-- Nav Item - Alerts -->


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-white small"
                                          th:text="|${session.usuario.nombres.split(' ')[0]} ${session.usuario.apellidos.split(' ')[0]}|"></span>
                                    <img class="img-profile rounded-circle" th:src="@{|imagenadmin/${session.usuario.getDni()}|}"
                                         type="image/png" alt="avatar">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <form id="cerrar" th:action="@{/logout}" method="post">
                                        <a class="nav-link" data-toggle="modal"
                                           href="#logoutModal" data-target="#logoutModal"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Cerrar
                                            Sesión
                                        </a>
                                    </form>
                                </div>
                            </li>

                        </ul>

                    </nav>

                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-5 mt-5 mx-auto bg-welcome"
                             style="width: 50%; height: 25%; text-align: center">
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <strong><h1 style="text-align: center; color: white"
                                        class="text-sm-center text-uppercase text"
                                        th:text="${'Bienvenid@ '+session.usuario.getNombres() + ' '+session.usuario.getApellidos()}"></h1>
                            </strong>
                            <h1 style="color: #FFFFFF; font-size: 110%; text-align: center" class="text-sm-center"
                                th:if="${estadoRestaurante==2}"> Su solicitud de creación de restaurante está siendo evaluada...</h1>
                            <div class="card-body" style="text-align: center" th:if="${estadoRestaurante==1}">
                                <h1 style="color: #FFFFFF; font-size: 110%; text-align: center" class="text-sm-center"
                                    th:if="${estadoRestaurante==1}">
                                    Su restaurante fue aceptado por un administrador. Puede comenzar a registrar sus
                                    platos...
                                </h1>
                                <a class="btn btn-primary" th:href="@{/plato/categoria}" style="width: 30%;">Entrar a mi
                                    restaurante</a></div>
                            <a class="btn-success" type="bu"></a>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>
                            <div class="card-body"></div>


                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top1">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" form="cerrar" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/vendor/bootstrap/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>
    </body>
    <body th:if="${estadoRestaurante==3}"
          id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">


            <!-- Main Content -->
            <div id="content" class=" bg-login-image2">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                        </li>

                        <!-- Nav Item - Alerts -->


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-white small"
                                          th:text="|${session.usuario.nombres.split(' ')[0]} ${session.usuario.apellidos.split(' ')[0]}|"></span>
                                <img class="img-profile rounded-circle" th:src="@{|imagenadmin/${session.usuario.getDni()}|}"
                                     type="image/png" alt="avatar">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <form id="cerrar" th:action="@{/logout}" method="post">
                                    <a class="nav-link" data-toggle="modal"
                                       href="#logoutModal" data-target="#logoutModal"><i
                                            class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Cerrar
                                        Sesión
                                    </a>
                                </form>
                            </div>
                        </li>

                    </ul>

                </nav>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-5 mt-5 mx-auto bg-welcome"
                         style="width: 50%; height: 25%; text-align: center">
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <strong><h1 style="text-align: center; color: #FFFFFF"
                                    class="text-sm-center text-uppercase text"
                                    th:text="${'Hola '+session.usuario.getNombres() + ' '+session.usuario.getApellidos()}"></h1>
                        </strong>
                        <h1 style="color: #FFFFFF; font-size: 110%; text-align: center" class="text-sm-center">
                            Lo sentimos, tu solicitud de restaurante fue rechazada. Para más información comunicate con un
                        administrador. Contacto: admin@gmail.com</h1>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>
                        <div class="card-body"></div>


                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Geek Developers &copy; 2021-1</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button type="submit" form="cerrar" class="btn btn-primary">Salir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Scripts -->
    <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
    <!-- End Scripts -->
    </body>

</html>