<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Detalle de pedido')"></head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="AdminRestaurante/fragments/adminRestFragment.html :: sidebar"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav th:replace="AdminRestaurante/fragments/adminRestFragment.html :: topbar"></nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4 ">
                            <div class="card-header py-3 " style="background-color: #701111;">
                                <h3 class="h3 font-weight-bold  text-white text-xl-center">DETALLE DE PEDIDO</h3>
                            </div>

                            <!-- Detalles del pedido -->
                            <div class="card-header">
                                <table width="100%" cellspacing="0">
                                    <td>
                                        <ul class="list-group col-10  ml-5">
                                            <li class="text-light list-group-item d-flex justify-content-between align-items-center"
                                                style="background-color: #701111;">
                                                <h5 th:if="${detalles.get(0).getEstado()==0}"
                                                    th:text="${'Estado: Pendiente'}">
                                                    <b>Estado: </b></h5>
                                                <h5 th:if="${detalles.get(0).getEstado()==1}"
                                                    th:text="${'Estado: Aceptado'}">
                                                    <b>Estado: </b></h5>
                                                <h5 th:if="${detalles.get(0).getEstado()==2}"
                                                    th:text="${'Estado: Cancelado'}">
                                                    <b>Estado: </b></h5>
                                                <h5 th:if="${detalles.get(0).getEstado()==3}"
                                                    th:text="${'Estado: Preparando'}">
                                                    <b>Estado: </b></h5>
                                                <h5 th:if="${detalles.get(0).getEstado()==4}"
                                                    th:text="${'Estado: Pedido Listo'}"><b>Estado: </b></h5>
                                                <h5 th:if="${detalles.get(0).getEstado()==5}"
                                                    th:text="${'Estado: En Camino'}">
                                                    <b>Estado: </b></h5>
                                                <h5 th:if="${detalles.get(0).getEstado()==6}"
                                                    th:text="${'Estado: Entregado'}">
                                                    <b>Estado: </b></h5>
                                                <span class="text-light "><h6></h6></span>
                                            </li>
                                            <li class="text-light list-group-item d-flex justify-content-between align-items-center"
                                                style="background-color: #701111;">
                                                <h5 th:text="${'Cliente: '+detalles.get(0).getCliente()}">
                                                    <b>Cliente: </b>Hector
                                                    Ventura</h5>
                                                <span class="text-light"><h6></h6></span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group col-10  ml-lg-5">
                                            <li class="text-light list-group-item d-flex justify-content-between align-items-center"
                                                style="background-color: #701111;">
                                                <h5 th:text="${'Fecha: '+detalles.get(0).getFechapedido()}">
                                                    <b>Fecha: </b>28/04/2021
                                                    - 17:05</h5>
                                                <span class="text-light"><h6></h6></span>
                                            </li>
                                            <li class="text-light list-group-item d-flex justify-content-between align-items-center"
                                                style="background-color: #701111;">
                                                <h5 th:if="${detalles.get(0).getMetodopago()==0}"
                                                    th:text="${'Método de Pago: Efectivo'}"><b>Método de Pago: </b>Efectivo
                                                </h5>
                                                <h5 th:if="${detalles.get(0).getMetodopago()==1}"
                                                    th:text="${'Método de Pago: POS'}"><b>Método de Pago: </b>Efectivo
                                                </h5>
                                                <h5 th:if="${detalles.get(0).getMetodopago()==2}"
                                                    th:text="${'Método de Pago: Online'}"><b>Método de Pago: </b>Efectivo
                                                </h5>
                                                <span class="text-light "><h6></h6></span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group col-10  ml-lg-5">
                                            <li class="text-light list-group-item d-flex justify-content-between align-items-center"
                                                style="background-color: #701111;">
                                                <h5 th:text="${'Dirección: '+detalles.get(0).getDireccion()}"><b>Dirección: </b>28/04/2021
                                                    - 17:05</h5>
                                                <span class="text-light"><h6></h6></span>
                                            </li>
                                            <li class="text-light list-group-item d-flex justify-content-between align-items-center"
                                                style="background-color: #701111;">
                                                <h5 th:text="${'Cupón: '+(detalles.get(0).getCupon()==null? 'No usa cupón': detalles.get(0).getCupon())}">
                                                    <b>Cupón: </b>Efectivo</h5>
                                                <span class="text-light "><h6></h6></span>
                                            </li>
                                        </ul>
                                    </td>
                                </table>
                            </div>
                            <!-- Fin Detalles del pedido -->
                            <div class="card-body">
                                <label>Platos:</label>
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div style=text-align:center>#</div>
                                                </th>
                                                <th>
                                                    <div style=text-align:center>Plato</div>
                                                </th>
                                                <th>
                                                    <div style=text-align:center>Cantidad</div>
                                                </th>
                                                <th>
                                                    <div style=text-align:center>Precio Unitario</div>
                                                </th>
                                                <th>
                                                    <div style=text-align:center>Precio Total</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr th:each="plato,v:${platos}">
                                                <td>
                                                    <div style="text-align:center" th:text="${v.index+1}">
                                                    </div>
                                                </td>
                                                <td th:text="${plato.getNombre()}">
                                                </td>
                                                <td>
                                                    <div style="text-align:center" th:text="${plato.getCantidad()}">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style=text-align:center
                                                         th:text="${'S/. '+plato.getPreciounitario()}">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style=text-align:center
                                                         th:text="${'S/. '+plato.getPreciototal()}">S/.60
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    style="border-bottom-color: white; border-left-color: white"></td>
                                                <td style="text-align:center" bgcolor="#F5F5F5"><b
                                                        style="color: #701111">Total</b>
                                                </td>
                                                <td style="text-align:center" bgcolor="#F5F5F5"><b
                                                        style="color: #701111" th:text="${'S/. '+sumaPlato}">S/. 130
                                                </b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <label>Extras:</label>
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div style=text-align:center>#</div>
                                                </th>
                                                <th>
                                                    <div style=text-align:center>Plato</div>
                                                </th>
                                                <th>
                                                    <div style=text-align:center>Cantidad</div>
                                                </th>
                                                <th>
                                                    <div style=text-align:center>Precio Unitario</div>
                                                </th>
                                                <th>
                                                    <div style=text-align:center>Precio Total</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr th:each="extra,v:${extras}">
                                                <td>
                                                    <div style="text-align:center" th:text="${v.index+1}">
                                                    </div>
                                                </td>
                                                <td th:text="${extra.getNombre()}">
                                                </td>
                                                <td>
                                                    <div style="text-align:center" th:text="${extra.getCantidad()}">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style=text-align:center
                                                         th:text="${'S/. '+extra.getPreciounitario()}">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style=text-align:center
                                                         th:text="${'S/. '+extra.getPreciototal()}">S/.60
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    style="border-bottom-color: white; border-left-color: white"></td>
                                                <td style="text-align:center" bgcolor="#F5F5F5"><b
                                                        style="color: #701111">Total</b>
                                                </td>
                                                <td style="text-align:center" bgcolor="#F5F5F5"><b
                                                        style="color: #701111" th:text="${'S/. '+sumaExtra}">S/. 130
                                                </b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="card-group col-6">
                                        <div class="card text-dark" style="max-width: 22rem;">
                                            <div class="card-header" style="color: white;background-color:#701111;">
                                                <b>Comentarios:</b></div>
                                            <div class="card-body" style="background-color: #ffe8d8;color: black">
                                                <p class="card-text" style="text-align:justify"
                                                   th:text="${(detalles.get(0).getComentario()!=null && !detalles.get(0).getComentario().isEmpty())? detalles.get(0).getComentario():'No hay comentarios...'}"></p>
                                            </div>
                                        </div>
                                        <div class="card text-dark  ml-3" style="max-width: 12rem;">
                                            <div class="card-header" style="color: white;background-color:#701111;">
                                                <b>Descuento:</b></div>
                                            <div class="card-body" style="background-color: #ffe8d8;color: black">
                                                <h4 class="card-text" style="text-align:center"
                                                    th:text="${(detalles.get(0).getDescuento()!=0 && detalles.get(0).getDescuento()!=null)? ('S/. '+detalles.get(0).getDescuento()):'No usa cupón...'}"></h4>
                                            </div>
                                        </div>
                                        <div class="card text-dark  ml-3" style="max-width: 12rem;">
                                            <div class="card-header" style="color: white;background-color:#701111;"><b>Pago
                                                Total:</b></div>
                                            <div class="card-body" style="background-color: #ffe8d8;color: black">
                                                <h4 class="card-text" style="text-align:center"
                                                    th:text="${detalles.get(0).getPreciototal()!=0? ('S/. '+detalles.get(0).getPreciototal()):'Ocurrió un error'}"></h4>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="btn-group col-6 ml-6" style="max-height: 2.5rem;">
                                        <a th:if="${detalles.get(0).getEstado()==0}" type="button"
                                           class="btn btn-danger">Cancelar</a>
                                        <a th:if="${detalles.get(0).getEstado()==0}" type="button" class="btn btn-info">Aceptar</a>
                                        <a th:if="${detalles.get(0).getEstado()==1}" type="button"
                                           class="btn btn-secondary">Preparar</a>
                                        <a th:if="${detalles.get(0).getEstado()==3}" type="button"
                                           class="btn btn-success">Listo</a>
                                        <a th:if="${detalles.get(0).getEstado()==2}" type="button"
                                           class="btn btn-warning mr-1" style="max-width: 12rem; position: center">Regresar</a>
                                        <a th:if="${detalles.get(0).getEstado()!=2}" type="button"
                                           class="btn btn-warning">Regresar</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal -->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" form="cerrar" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal1-->
        <div class="modal fade" id="Modal-Entregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">El pedido será aceptado</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" form="eliminar" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal2-->
        <!-- Modal3-->
        <div class="modal fade" id="Modal-Cancelar-Pedido" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel4">¿Desea rechazar el pedido?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                        <button class="btn btn-primary" type="submit" form="cancelar">Sí</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Scripts -->
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
        <!-- End Scripts -->

    </body>

</html>