<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Editar cu')"></head>
    <body>

        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav  sidebar sidebar-dark accordion" style="background-color:#701111       ;"
                id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Food Delivery</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/plato}">
                        <i class="fas fa-fw fa-list"></i>
                        <span>Categorias</span></a>
                </li>


                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link" href="listaPedidos.html">
                        <i class="fas fa-book-open"></i>
                        <span>Pedidos</span>
                    </a>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link" href="extras.html">
                        <i class="fas fa-utensils"></i>
                        <span>Extras</span>
                    </a>
                </li>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link " href="eleccionReporte.html">
                        <i class="fas fa-fw fa-file"></i>
                        <span>Reportes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="listaCupones.html">
                        <i class="fas fa-ticket-alt"></i>
                        <span>Cupones</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <form class="form-inline">
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-bars"></i>
                            </button>
                        </form>

                        <!-- Topbar Search -->
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle"  data-toggle="modal"
                                   href="#Credencial" data-target="#Credencial"
                                   aria-haspopup="true" aria-expanded="false" >
                                    <i class="fas fa-info-circle fa-fw"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Credenciales"></i>
                                </a>
                            </li>

                            <div class="modal fade" id="Credencial" tabindex="-1" role="dialog" aria-labelledby="exampleCredencial"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <!-- bg-gradient-light static-top shadow-->
                                        <div class="modal-header bg-primary mb-4 static-top shadow text-light text-justify" >
                                            <h3 class="modal-title " id="exampleCredencial" ><strong th:text="${credencial1.get(0).getNombre()+' - '+credencial1.get(0).getRuc()}"></strong></h3>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true" style="color: #ffffff">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5><strong th:text="${'Celular:  '+credencial1.get(0).getTelefono()}"></strong></h5>
                                            <h5><strong th:text="${'Dirección:  '+credencial1.get(0).getDireccion()}"></strong></h5>
                                            <h5><strong th:text="${'Pedidos Totales:  '+pedidosCredenciales.get(0).getTotal()}"></strong></h5>
                                            <h5><strong th:text="${'Pedidos Aceptados:  '+pedidosCredenciales.get(0).getEntrega()}"></strong></h5>
                                            <h5><strong th:text="${'Pedidos Cancelados:  '+pedidosCredenciales.get(0).getCancela()}"></strong></h5>
                                            <h5><strong th:text="${'Otros Pedidos:  '+(pedidosCredenciales.get(0).getTotal()-pedidosCredenciales.get(0).getEntrega()-pedidosCredenciales.get(0).getCancela())}"></strong></h5>
                                            <h3 style="color: black"><strong>Administrador</strong></h3>
                                            <h5 style="text-transform: capitalize;"><strong  th:text="${'Nombre:  '+credencial1.get(0).getAdministrador().split(' ')[0]+' '+credencial1.get(0).getAdministrador().split(' ')[2] }"></strong></h5>
                                            <h5><strong th:text="${'Correo:  '+credencial1.get(0).getCorreo()}"></strong></h5>
                                            <h5><strong th:text="${'Celular:  '+credencial1.get(0).getCelular}"></strong></h5>
                                            <h5><strong th:text="${'DNI:  '+credencial1.get(0).getDni}"></strong></h5>

                                            <h5 style="color: black"> <strong>Platos:</strong></h5>

                                            <div class="container ml-5 mt-1">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <label class="card-title" th:text="${'Más vendido('+platoMasVendido.get(0).getCantidad()+')'}"></label>
                                                                <div class="container2 shadow text-center" style="height: 150px;width:150px">
                                                                    <img th:src="@{|/plato/imagen/${platoMasVendido.get(0).getIdplato()}|}"
                                                                         alt="Avatar" class="image2 shadow" style="height: 150px;width:150px">
                                                                    <a class="overlay2" style="height: 150px;width:150px">
                                                                        <h1 class="text-justify" style="font-weight: bolder">
                                                                            <div style="text-transform: uppercase;height: 150px;width:150px"
                                                                                 class="text2 font-weight-bolder mt-lg-5"
                                                                                 th:text="${platoMasVendido.get(0).getNombre()}"></div>
                                                                        </h1>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <label class="card-title" th:text="${'Menos vendido('+platoMenosVendido.get(0).getCantidad()+')'}"></label>
                                                                <div class="container2 shadow text-center" style="height: 150px;width:150px">
                                                                    <img th:src="@{|/plato/imagen/${platoMenosVendido.get(0).getIdplato()}|}"
                                                                         alt="Avatar" class="image2 shadow" style="height: 150px;width:150px">
                                                                    <a class="overlay2" style="height: 150px;width:150px">
                                                                        <h1 class="text-justify" style="font-weight: bolder">
                                                                            <div style="text-transform: uppercase; height: 150px;width:150px"
                                                                                 class="text2 font-weight-bolder mt-lg-5"
                                                                                 th:text="${platoMenosVendido.get(0).getNombre()}"></div>
                                                                        </h1>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- End information -->
                            <!-- Nav Item - Alerts campanita Notificaciones -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter" th:if="${listaNotiRest.size()>0||!listaNotiRest.isEmpty()}" th:text="${listaNotiRest.size()}"></span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in "
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="notificacion">
                                        Nuevos Pedidos
                                    </h6>
                                    <p th:if="${listaNotiRest.size()==0||listaNotiRest.isEmpty()}"> No tiene pedidos pendientes</p>
                                    <a th:if="${listaNotiRest.size()>0||!listaNotiRest.isEmpty()}" class="dropdown-item d-flex align-items-center"
                                       th:each="p,in:${listaNotiRest}" th:href="@{'/restaurante/detallePedido?codigoPedido='+${p.codigo}}">
                                        <div class="mr-3">
                                            <div class="icon-circle notificacion">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500" th:text="${p.getLugar()+' - '+p.getHora()}">Los Olivos - 12:45 pm</div>
                                            <span class="font-weight-bold" th:text="${p.getCliente()}">Arroz con pollo</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" th:href="@{/restaurante/listaPedidos}">Ver todos los
                                        pedidos</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                              th:text="|${session.usuario.nombres} ${session.usuario.apellidos}|"></span>
                                    <img class="img-profile rounded-circle" th:src="@{/img/perfildefecto.png}"
                                         type="image/png" alt="avatar">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <form id="cerrar" th:action="@{/logout}" method="post">
                                        <a class="nav-link" data-toggle="modal"
                                           href="#logoutModal" data-target="#logoutModal"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Cerrar Sesión
                                        </a>
                                    </form>
                                </div>
                            </li>

                        </ul>
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-xl-12 col-lg-7">

                                <!-- Area Chart -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3 " style="background-color: #701111;">
                                        <h3 class="h3 font-weight-bold  text-white text-xl-center">EDITAR CUPÓN</h3>
                                    </div>


                                    <div class="card-header py-3">
                                        <h4 class="text-danger text-left h4 mb-4 text-black-500 "><b><strong>Código:
                                            CUP123</strong></b></h4>

                                        <form method="post" th:action="@{'/cupon/guardar'}" th:object="${cupon}">
                                            <input type="hidden" th:field="*{idcupon}">
                                            <input type="hidden" th:field="*{fechainicio}">
                                            <input type="hidden" th:field="*{idrestaurante}">

                                            <div class="mb-3">
                                                <label for="nombre" class="form-label">Nombre</label>
                                                <input name="precio" type="text" class="form-control mb-2"
                                                       value="CREDDI12" th:field="*{nombre}"
                                                       size="50">
                                                <div class="text-danger" th:if="${#fields.hasErrors('nombre')}"
                                                     th:errors="*{nombre}"></div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="politica" class="form-label">Política:</label>
                                                <textarea name="precio" type="text" class="form-control mb-2"
                                                          placeholder="Descuentos en la primera compra"
                                                          size="50" th:field="*{descripcion}"
                                                ></textarea>
                                                <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}"
                                                     th:errors="*{descripcion}"></div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="Caducidad" class="form-label">Caducidad</label>
                                                <input name="fecha" type="date"
                                                       class="text-left form-control mb-2" value="caducidad"
                                                       th:field="*{fechafin}"
                                                       size="5">

                                            </div>
                                            <div class="mb-3">
                                                <label for="descuento" class="form-label">Descuento</label>
                                                <input name="precio" type="text" class="form-control mb-2"
                                                       value="S/. 5.00" th:field="*{descuento}"
                                                       size="50">
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-2" style="left: 25%">
                                                    <button class="btn btn-block btn-success mt-1" type="submit">
                                                        Actualizar
                                                    </button>
                                                </div>
                                                <div class="col-sm-2" style="left: 25%"><a
                                                        class="btn btn-block btn-primary mt-1"
                                                        th:href="@{'/cupon/lista'}"
                                                >Cancelar</a></div>
                                                <div class="col-sm-2" style="left: 25%"><a
                                                        class="btn btn-block btn-danger mt-1"

                                                        th:href="@{'/cupon/delete'}" data-toggle="modal"
                                                        href="#lModal1" data-target="#lModal1">Eliminar
                                                    Cupón</a></div>
                                            </div>
                                        </form>

                                    </div>

                                </div>


                            </div>

                            <!-- IMAGEN -->
                        </div>

                    </div>
                </div>
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
            </div>

        </div>
        <!-- End of Main Content -->
        <!-- End of Content Wrapper -->
        <!-- End of Page Wrapper -->


        <!-- Logout Modal-->
        <!-- Alerta cierre sesion-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Usted está a punto de salir ¿Desea
                            continuar?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary"
                           style="background-color: #701111; color: #FFFFFF; border: #701111"
                           href="loginAR.html">Cerrar
                            Sesión</a>
                        <a class="btn" type="button"
                           data-dismiss="modal">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal1-->
        <div class="modal fade" id="lModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">¿Está seguro que desea eliminar el
                            cupón?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Sí</button>
                        <a class="btn" type="button"
                           data-dismiss="modal">
                            No
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal2-->
        <div class="modal fade" id="lModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">¿Está seguro que desea actualizar
                            este cupón?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Sí</button>
                        <a class="btn" type="button"
                           data-dismiss="modal">
                            No
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="lModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel4">¿Está seguro que desea cancelar la
                            edición?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="extras.html">Sí</a>
                        <a class="btn" type="button"
                           data-dismiss="modal">
                            No
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>

    </body>
    <script>$(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#image_preview').attr('src', e.target.result);
                    $('#image_preview').removeAttr('hidden');
                }
                reader.readAsDataURL(input.files[0]);
                console.log(input.files[0].name.split(".")[1])
                let extensions = ['jpg', 'jpeg', 'png']
                if (!(extensions.includes(input.files[0].name.split(".")[1]))) {
                    $('#photo_error').text('Debe adjuntar archivos con extensión png, bmp o jpg').removeAttr('hidden');
                    $('#error').attr('hidden', 'true');
                } else {
                    $('#photo_error').attr('hidden', 'true');
                }
            }
        }

        $("#imagen").change(function () {
            console.log("sdafefdgsagsagasdg");
            readURL(this);
        });
    })</script>
</html>