<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Reportes')"></head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="AdminRestaurante/fragments/adminRestFragment.html :: sidebar"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav th:replace="AdminRestaurante/fragments/adminRestFragment.html :: topbar"></nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3" style="background-color: #701111;">
                                <h5 class="font-weight-bold text-white text-center mb-0">REPORTES</h5>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6 mb-4"
                                             style="margin-left: 270px; margin-top: 30px">
                                            <div class="container2">
                                                <img th:src="@{/imagenesAR/reportePlatos.jpg}" alt="Avatar"
                                                     class="image2 shadow"
                                                     style="height: 300px; width: 400px">
                                                <a class="overlay2" style="height: 300px; width: 400px" th:href="@{/restaurante/reportePlatos}">
                                                    <H1 class="text2 font-weight-bolder">PLATOS</H1>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6 mb-4" style="margin-left: 260px; margin-top: 30px">
                                            <div class="container2">
                                                <img th:src="@{/imagenesAR/reporteVentas.jpg}" alt="Avatar"
                                                     class="image2 shadow"
                                                     style="height: 300px; width: 400px">
                                                <a class="overlay2" style="height: 300px; width: 400px" th:href="@{/restaurante/reporteVentas}">
                                                    <H1 class="text2 font-weight-bolder">VENTAS</H1>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 370px">
                                <div class="col-sm-6">
                                    <div class="col-sm-6 mb-4"
                                         style="margin-left: 610px; margin-top: 10px; margin-bottom: 200px">
                                        <div class="container2">
                                            <img th:src="@{/imagenesAR/reporteComentario.jpg}" alt="Avatar"
                                                 class="image2 shadow"
                                                 style="height: 300px; width: 400px">
                                            <a class="overlay2" style="height: 300px; width: 400px" th:href="@{/restaurante/reporteValoracion}">
                                                <H1 class="text2 font-weight-bolder">VALORACIÓN</H1>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit"  class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Scripts -->
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
        <!-- End Scripts -->

    </body>

</html>