<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Lista de platos')"></head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="AdminRestaurante/fragments/adminRestFragment.html :: sidebar"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav th:replace="AdminRestaurante/fragments/adminRestFragment.html :: topbar"></nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <form method="get" th:action="@{'/plato/page?idcategoria='+${idcategoria}}">

                            <div class="form-group row">
                                <input hidden name="idcategoria" th:value="${idcategoria}">
                                <div class="col-sm-3 mb-1 ">
                                    <input type="text" class="form-control"
                                           id="examplePlato"
                                           th:value="${texto}"
                                           placeholder="Buscar plato"
                                           name="textBuscador">
                                </div>
                                <div class="col-sm-3 mb-1">
                                    <select class="form-control" id="textPrecio" name="textPrecio">
                                        <option value="0" th:selected="${textoP==0}">Precio</option>
                                        <option value="1" th:selected="${textoP==1}">S/.0.00 hasta S/.15.00</option>
                                        <option value="2" th:selected="${textoP==2}">S/.15.00 hasta S/.30.00</option>
                                        <option value="3" th:selected="${textoP==3}">S/.30.00 hasta S/.45.00</option>
                                        <option value="4" th:selected="${textoP==4}">S/.45.00 a más</option>
                                    </select>
                                </div>

                                <div class="col-sm-2 mb-1">
                                    <select class="form-control" id="textDisponible" name="textDisponible"
                                            style="justify-content: right">
                                        <option value="2"
                                                th:selected="${textoD==2}">Disponibilidad
                                        </option>
                                        <option value="1"
                                                th:selected="${textoD==1}">Disponible
                                        </option>
                                        <option value="0"
                                                th:selected="${textoD==0}">No disponible
                                        </option>
                                    </select>
                                </div>

                                <div class="input-group-append col-sm-1 mb-3 ml-0">
                                    <button class="btn" style="background-color:#701111; color:white; border:#701111"
                                            type="submit">
                                        <i class="fas fa-filter"></i>
                                    </button>
                                </div>
                                <div class="col-sm-3 mb-1 ml-0" style="text-align: right">
                                    <a class="btn btn-secondary"
                                       th:href="@{'/plato/lista?idcategoria='+${idcategoria}}">Quitar filtros</a>
                                </div>
                            </div>
                        </form>


                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 " style="background-color: #701111;">

                                <div class="d-sm-flex align-items-center">
                                    <a class="btn btn-warning" th:href="@{'/plato/nuevo?idcategoria='+${idcategoria}}"><i
                                            class="fas fa-plus fa-sm"></i>&nbspNuevo plato</a>
                                    <h5 th:if="${idcategoria==1}"
                                        class="font-weight-bold text-white text-lg-center mx-auto"
                                        th:text="|Lista de Platos - ${nombreCate}|"></h5>
                                    <h5 th:if="${idcategoria==3}"
                                        class="font-weight-bold text-white text-lg-center mx-auto"
                                        th:text="|Lista de Platos - ${nombreCate}|"></h5>
                                    <h5 th:if="${idcategoria==4}"
                                        class="font-weight-bold text-white text-lg-center mx-auto"
                                        th:text="|Lista de Platos - ${nombreCate}|"></h5>
                                    <h5 th:if="${idcategoria==2}"
                                        class="font-weight-bold text-white text-lg-center mx-auto"
                                        th:text="|Lista de Platos - ${nombreCate}|"></h5>

                                </div>

                            </div>
                            <div class="card-body">
                                <div class="alert alert-success" role="alert"
                                     th:if="${msg!=null and tipo.equalsIgnoreCase('saved')}" th:text="${msg}">

                                </div>
                                <div class="alert alert-danger" role="alert"
                                     th:if="${msg!=null and tipo.equalsIgnoreCase('borrado')}" th:text="${msg}">

                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    N°
                                                </th>
                                                <th>
                                                    Nombre del plato
                                                </th>
                                                <th>
                                                    Precio
                                                </th>
                                                <th>
                                                    Descripción
                                                </th>
                                                <th>
                                                    Editar
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="platos,v:${listaPlatos} ">
                                                <td th:text="${(v.index+1)*currentPage}"></td>
                                                <td th:text="${platos.nombre}"></td>
                                                <td th:text="${'S/. '+platos.precio}"></td>
                                                <td th:text="${platos.descripcion}"></td>
                                                <td style="width: 160px"><a style="color: #dce3f9"
                                                                            class="btn btn-warning btn-circle align"
                                                                            th:href="@{'/plato/editar?idcategoria='+${idcategoria}+'&id='+ ${platos.idplato}}"><i
                                                        class="fas fa-pen text-white"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:if="${totalPages >= 1}" class="pagination text-center">
                                    <div th:each="i: ${#numbers.sequence(1,totalPages)}" >

                                        <a th:if="${currentPage != i}"
                                           th:href="@{'/plato/page?idcategoria='+${idcategoria}+'&pageNo=' + ${i} + '&textBuscador='+ ${texto} + '&textDisponible='+ ${textoD} + '&textPrecio='+ ${textoP}}"
                                           th:utext="${i}"
                                           class="active mt-2 no"></a>
                                        <a th:unless="${currentPage != i}"
                                           th:utext="${i}" class="text-white" style="pointer-events: none"></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" form="cerrar" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Scripts -->
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
        <!-- End Scripts -->

    </body>

</html>