<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Lista de pedidos')"></head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="AdminRestaurante/fragments/adminRestFragment.html :: sidebar"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->

                        <!-- Topbar Search -->
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                            <!-- Nav Item - Alerts campanita Notificaciones -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter"
                                          th:if="${listaNotiRest.size()>0||!listaNotiRest.isEmpty()}"
                                          th:text="${listaNotiRest.size()}"></span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in "
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="notificacion">
                                        Nuevos Pedidos
                                    </h6>
                                    <p th:if="${listaNotiRest.size()==0||listaNotiRest.isEmpty()}" class="mt-3 ml-4"> No tiene pedidos
                                        pendientes</p>
                                    <a th:if="${listaNotiRest.size()>0||!listaNotiRest.isEmpty()}"
                                       class="dropdown-item d-flex align-items-center"
                                       th:each="p,in:${listaNotiRest}"
                                       th:href="@{'/restaurante/detallePedido?v=0&codigoPedido='+${p.codigo}}">
                                        <div class="mr-3">
                                            <div class="icon-circle notificacion">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500"
                                                 th:text="${p.getLugar()+' - '+p.getHora()}">Los Olivos - 12:45 pm
                                            </div>
                                            <span class="font-weight-bold"
                                                  th:text="${p.getCliente()}">Arroz con pollo</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500"
                                       th:href="@{/restaurante/listaPedidos}">Ver todos los
                                        pedidos</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li th:replace="AdminRestaurante/fragments/adminRestFragment.html :: cerrarsesion"></li>

                        </ul>
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <form method="get" th:action="@{/restaurante/page}">

                            <div class="form-group row">
                                <div class="col-sm-1 mb-1">
                                    <select class="form-control" id="textEstado" name="textEstado">
                                        <option value="0" th:selected="${textoE==0}">Estado</option>
                                        <option value="1" th:selected="${textoE==1}">Pendiente</option>
                                        <option value="2" th:selected="${textoE==2}">Aceptado</option>
                                        <option value="3" th:selected="${textoE==3}">Cancelado</option>
                                        <option value="4" th:selected="${textoE==4}">Preparando</option>
                                        <option value="5" th:selected="${textoE==5}">Pedido listo</option>
                                        <option value="6" th:selected="${textoE==6}">En camino</option>
                                        <option value="7" th:selected="${textoE==7}">Entregado</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 mb-1 ">
                                    <input type="text" class="form-control"
                                           id="exampleCliente"
                                           th:value="${texto}"
                                           placeholder="Búsqueda cliente"
                                           name="textBuscador">
                                </div>
                                <div class="col-sm-2 mb-1">
                                    <input placeholder="Desde" class="form-control" name="fechainicio"
                                           onfocus="(this.type='date')" onblur="(this.type='text')">
                                </div>
                                <div class="col-sm-2 mb-1">
                                    <input placeholder="Caducidad" class="form-control" name="fechafin"
                                           onfocus="(this.type='date')" onblur="(this.type='text')">
                                </div>
                                <div class="col-sm-2 mb-1">
                                    <select class="form-control" id="inputPrecio" name="inputPrecio">
                                        <option value="0" th:selected="${textoP==0}">Precio</option>
                                        <option value="1" th:selected="${textoP==1}">S/.0.00 hasta S/.20.00</option>
                                        <option value="2" th:selected="${textoP==2}">S/.20.00 hasta S/.40.00</option>
                                        <option value="3" th:selected="${textoP==3}">S/.40.00 hasta S/.60.00</option>
                                        <option value="4" th:selected="${textoP==4}">S/.60.00 a más</option>
                                    </select>
                                </div>
                                <div class="input-group-append col-sm-1 mb-3 ml-0">
                                    <button class="btn" style="background-color:#701111; color:white; border:#701111"
                                            type="submit">
                                        <i class="fas fa-filter"></i>
                                    </button>
                                </div>
                                <div class="col-sm-2 mb-1 ml-0" style="text-align: right">
                                    <a class="btn btn-secondary"
                                       th:href="@{'/restaurante/listaPedidos'}">Quitar filtros</a>
                                </div>
                            </div>


                        </form>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 " style="background-color: #701111;">

                                <div class="d-sm-flex align-items-center justify-content-between">

                                    <h5 class="font-weight-bold text-white text-lg-center mx-auto ">LISTA DE
                                        PEDIDOS</h5>

                                </div>

                            </div>
                            <div class="card-body">
                                <div class="alert alert-danger" role="alert"
                                     th:if="${msg!=null}" th:text="${msg}">
                                </div>
                                <div class="alert alert-success" role="alert"
                                     th:if="${msg2!=null}" th:text="${msg2}">
                                </div>
                                <div class="alert alert-warning" role="alert"
                                     th:if="${msg3!=null}" th:text="${msg3}">
                                </div>
                                <div th:if="${totalItems!=0}" class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    #
                                                </th>
                                                <th class="text-center">
                                                    Estado
                                                </th>
                                                <th class="text-center">
                                                    Cliente
                                                </th>
                                                <th class="text-center">
                                                    Monto
                                                </th>
                                                <th class="text-center">
                                                    Fecha de Pedido
                                                </th>
                                                <th class="text-center">
                                                    Comentario
                                                </th>
                                                <th class="text-center">
                                                    Aceptar
                                                </th>
                                                <th class="text-center">
                                                    Rechazar
                                                </th>
                                                <th class="text-center">
                                                    Visualizar
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="pedidos,v:${listaPedidos} ">
                                                <td th:text="${(v.index+1)+(pageSize*(currentPage - 1))}"></td>
                                                <td th:if="${pedidos.estado==0}" th:text="|${'PENDIENTE'}|"></td>
                                                <td th:if="${pedidos.estado==1}" th:text="|${'ACEPTADO'}|"></td>
                                                <td th:if="${pedidos.estado==2}" th:text="|${'CANCELADO'}|"></td>
                                                <td th:if="${pedidos.estado==3}" th:text="|${'PREPARANDO'}|"></td>
                                                <td th:if="${pedidos.estado==4}" th:text="|${'PEDIDO LISTO'}|"></td>
                                                <td th:if="${pedidos.estado==5}" th:text="|${'EN CAMINO'}|"></td>
                                                <td th:if="${pedidos.estado==6}" th:text="|${'ENTREGADO'}|"></td>
                                                <td th:text="${pedidos.cliente.nombres}+' '+${pedidos.cliente.apellidos}"></td>
                                                <td th:text="${'S/. '+pedidos.getPreciototal()}"></td>
                                                <td th:text="${pedidos.getFechapedido()}"></td>
                                                <td id="comentario"
                                                    th:text="${pedidos.getComentariorestaurante()}"></td>
                                                <td th:if="${pedidos.estado==0}"><a style="color: #dce3f9"
                                                                                    class=" btn btn-success btn-circle align"
                                                                                    data-toggle="modal"
                                                                                    th:data-target="${'#myModal2'+pedidos.codigo}"
                                                                                    th:href="${'#myModal2'+pedidos.codigo}"
                                                ><i
                                                        class="fas fa-check text-white"></i></a></td>
                                                <td th:if="${pedidos.estado!=0}"><a style="color: #dce3f9"
                                                                                    class=" btn btn-dark btn-circle align"><i
                                                        class="fas fa-check text-white"></i></a></td>
                                                <td th:if="${pedidos.estado==0}"><a style="color: #dce3f9"
                                                                                    th:data-target="${'#myModal1'+pedidos.codigo}"
                                                                                    data-toggle="modal"
                                                                                    class="btn btn-danger btn-circle align"
                                                                                    th:href="${'#myModal1'+pedidos.codigo}"><i
                                                        class="fas fa-times text-white"></i></a></td>
                                                <td th:if="${pedidos.estado!=0}"><a style="color: #dce3f9"
                                                                                    class="btn btn-dark btn-circle align"><i
                                                        class="fas fa-times text-white"></i></a></td>
                                                <td><a style="color: #dce3f9"
                                                       class="btn btn-info btn-circle align"
                                                       th:href="@{'/restaurante/detallePedido?v=0&codigoPedido='+${pedidos.codigo}}"><i
                                                        class="fas fa-eye text-white"></i></a></td>

                                                <div class="modal" th:id="${'myModal1'+pedidos.codigo}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Explique el motivo del rechazo
                                                                    brevemente</h4>
                                                            </div>
                                                            <div class="container"></div>
                                                            <div class="modal-footer"
                                                                 style="justify-content: flex-start">
                                                                <form id="rechazar" method="GET"
                                                                      th:action="@{/restaurante/rechazarPedido}">
                                                                    <input name="id" type="text"
                                                                           class="form-control mb-2"
                                                                           th:value="${pedidos.codigo}" hidden>
                                                                    <label class="form-label">Comentario: </label>
                                                                    <input name="comentarioAR" type="text"
                                                                           class="form-control mb-2">
                                                                    <button type="submit" class="btn btn-primary">
                                                                        Aceptar
                                                                    </button>
                                                                    <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal" th:id="${'myModal2'+pedidos.codigo}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">El pedido será aceptado</h4>
                                                            </div>
                                                            <div class="container"></div>
                                                            <div class="modal-footer">
                                                                <a th:href="@{'/restaurante/aceptarPedido?id='+${pedidos.codigo}}"
                                                                   class="btn btn-primary">Aceptar</a>
                                                                <a href="#" data-dismiss="modal"
                                                                   class="btn">Cancelar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <div th:if="${totalItems==0 && (!texto.isEmpty() || !textoP.equalsIgnoreCase('0') || !textoE.equalsIgnoreCase('0'))}">
                                    <h3 class="text-lg-center text-danger">No hay resultados para su búsqueda.</h3>
                                </div>
                                <div th:if="${totalItems==0 && (texto.isEmpty() && textoP.equalsIgnoreCase('0') && textoE.equalsIgnoreCase('0'))}">
                                    <h3 class="text-lg-center text-danger">No hay pedidos registrados.</h3>
                                </div>
                                <div th:if="${totalPages >= 1}" class="pagination text-center">
                                    <div th:each="i: ${#numbers.sequence(1,totalPages)}">
                                        <a th:if="${currentPage != i}"
                                           th:href="@{'/restaurante/page?pageNo=' + ${i} + '&textBuscador='+ ${texto} + '&inputPrecio='+ ${textoP} + '&textEstado=' + ${textoE} + '&fechainicio=' + ${fechainicio} + '&fechafin=' + ${fechafin}}"
                                           th:utext="${i}"
                                           class="active mt-2"></a>
                                        <a th:unless="${currentPage != i}"
                                           th:utext="${i}" class="text-white" style="pointer-events: none"></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" form="cerrar" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal1-->
        <div class="modal fade" id="Modal-Entregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">El pedido será aceptado</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal2-->
        <!-- Modal3-->
        <div class="modal fade" id="Modal-Cancelar-Pedido" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel4">¿Desea rechazar el pedido?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                        <button class="btn btn-primary" type="submit">Sí</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Scripts -->
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
        <!-- End Scripts -->

    </body>

</html>