<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Registro de administrador de restaurante')"></head>
    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand  topbar mb-4 static-top shadow" style="background-color:#701111;">
                        <div class="navbar-brand d-flex align-items-center justify-content-center">
                            <div class="navbar-brand rotate-n-15">
                                <i class="fas fa-shopping-basket" style="color: white"></i>
                            </div>
                            <div class="navbar-brand-text mx-3" style="color: white">
                                Food Delivery
                            </div>
                        </div>
                        <!-- Sidebar Toggle (Topbar) -->

                        <!-- Topbar Navbar -->
                        <div class="topbar-divider d-none d-sm-block"></div>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container">

                        <a class="dropdown-item user" data-toggle="modal" data-target="#volverModal" href="#"
                           style="position: relative; right:12%">
                            <i class="fas fa-chevron-circle-left"></i>
                            Volver
                        </a>
                        <h1 style="color: black">REGÍSTRESE</h1>
                        <p>Complete el siguiente formulario para que el administrador general acepte o rechace su
                            solicitud de administrador.</p>
                        <form id="nuevo" method="post" th:action="@{/guardarAdminR}"
                              th:object="${adminRest}" enctype="multipart/form-data">

                            <div class="form-group row">
                                <input th:field="*{idusuario}" type="hidden"/>
                                <input th:field="*{rol}" th:value="${adminRest}" type="hidden"/>
                                <div class="col-sm-6 mb-0 mb-sm-0">
                                    <input type="text" class="form-control"
                                           th:field="*{nombres}"
                                           placeholder="Nombres">
                                    <div class="text-danger" th:if="${#fields.hasErrors('nombres')}"
                                         th:errors="*{nombres}"></div>
                                    <div class="text-danger"
                                         th:if="${msg11 != null}"
                                         th:text="${msg11}"></div>
                                </div>

                                <div class="col-sm-6 mb-0">
                                    <input th:field="*{apellidos}" type="text" class="form-control"
                                           placeholder="Apellidos"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('apellidos')}"
                                         th:errors="*{apellidos}"></div>
                                    <div class="text-danger"
                                         th:if="${msg12 != null}"
                                         th:text="${msg12}"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-0 mb-sm-0">
                                    <input class="form-control"
                                           id="exampleCorreo"
                                           placeholder="Correo electrónico" th:field="*{correo}">
                                    <div class="text-danger" th:if="${#fields.hasErrors('correo')}"
                                         th:errors="*{correo}"></div>
                                </div>
                                <div class="col-sm-6 mb-0">
                                    <input th:field="*{fechanacimiento}" type="text" class="form-control"
                                           placeholder="Fecha de nacimiento"
                                           onfocus="(this.type='date')" onblur="(this.type='text')"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('fechanacimiento')}"
                                         th:errors="*{fechanacimiento}"></div>
                                    <div class="text-danger" th:if="${msg7!=null}" th:text="${msg7}"
                                        ></div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-0 mb-sm-0">
                                    <select class="form-control" th:field="*{sexo}">
                                        <option value="" selected>Sexo</option>
                                        <option th:value="Femenino">Femenino</option>
                                        <option th:value="Masculino">Masculino</option>
                                    </select>
                                    <div class="text-danger" th:if="${#fields.hasErrors('sexo')}"
                                         th:errors="*{sexo}"></div>
                                </div>
                                <div class="col-sm-6  mb-0 mb-sm-0">
                                    <input th:field="*{telefono}" type="text" class="form-control"
                                           placeholder="Teléfono"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('telefono')}"
                                         th:errors="*{telefono}"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-0 mt-1 mb-sm-0">

                                    <input th:field="*{dni}" type="text" class="form-control" placeholder="DNI"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('dni')}"
                                         th:errors="*{dni}"></div>
                                    <div class="text-danger"
                                         th:if="${msg8 != null}"
                                         th:text="${msg8}"></div>
                                    <div class="text-danger"
                                         th:if="${msg9 != null}"
                                         th:text="${msg9}"></div>
                                    <div class="text-danger"
                                         th:if="${msg10 != null}"
                                         th:text="${msg10}"></div>
                                </div>
                            </div>
                            <div class="form-group row">


                                <div class="col-sm-6 mb-2 mb-sm-0">

                                    <h4 style="color: black">Contraseña</h4>
                                    <p>La contraseña debe contar con al menos 8 caracteres.</p>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-2 mb-sm-0">
                                            <div class="text-danger" th:if="${#fields.hasErrors('contrasenia')}"
                                                 th:errors="*{contrasenia}"></div>
                                            <input type="password" class="form-control" th:field="*{contrasenia}"
                                                   placeholder="Contraseña">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-2 mb-sm-0">
                                            <input id="confcontra" name="confcontra" type="password"
                                                   class="form-control" placeholder="Confirmar contraseña">
                                            <div th:if="${msg != null}" th:text="${msg}" class="text-danger"></div>
                                        </div>
                                    </div>
                                    <div id="msg"></div>


                                </div>
                                <div class="col-sm-6 mb-2 mb-sm-0">
                                    <h4 style="color: black">Foto de perfil</h4>
                                    <p>Adjunte una foto de perfil para su cuenta.</p>

                                    <div class="custom-file">
                                        <input type="file" name="photo"
                                               accept="image/png, image/jpeg, image/webp" class="custom-file-input"
                                               id="customFile">
                                        <label class="custom-file-label" for="customFile">Adjuntar archivo</label>
                                        <div th:if="${mensajefoto!=null}" th:text="${mensajefoto}"
                                            class="text-danger"></div>
                                    </div>


                                </div>

                            </div>

                            <hr>
                            <a href="#registrarModal" class="btn btn-primary btn-user btn-block mb-5 "
                               data-toggle="modal" data-target="#registrarModal">
                                Registrar
                            </a>
                        </form>


                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white mt-10">
                    <div class="container my-auto ">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Volver Modal-->
        <div class="modal fade" id="volverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea volver?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón volver, no se guardará la información registrada.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" th:href="@{/login}">Volver</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Registrar Modal-->
        <div class="modal fade" id="registrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Confirmación de envío de solicitud</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al pulsar el botón "Enviar", sus datos serán enviados para la revisión por
                        parte del administrador.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" form="nuevo" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Begin Scripts -->
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
        <!-- End Scripts -->

    </body>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

</html>