<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Reporte de valoraciones')"></head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="AdminRestaurante/fragments/adminRestFragment.html :: sidebar"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->

                        <!-- Topbar Search -->
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                            <!-- Nav Item - Alerts campanita Notificaciones -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter"
                                          th:if="${listaNotiRest.size()>0||!listaNotiRest.isEmpty()}"
                                          th:text="${listaNotiRest.size()}"></span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in "
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="notificacion">
                                        Nuevos Pedidos
                                    </h6>
                                    <p th:if="${listaNotiRest.size()==0||listaNotiRest.isEmpty()}" class="mt-3 ml-4"> No tiene pedidos
                                        pendientes</p>
                                    <a th:if="${listaNotiRest.size()>0||!listaNotiRest.isEmpty()}"
                                       class="dropdown-item d-flex align-items-center"
                                       th:each="p,in:${listaNotiRest}"
                                       th:href="@{'/restaurante/detallePedido?v=0&codigoPedido='+${p.codigo}}">
                                        <div class="mr-3">
                                            <div class="icon-circle notificacion">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500"
                                                 th:text="${p.getLugar()+' - '+p.getHora()}">Los Olivos - 12:45 pm
                                            </div>
                                            <span class="font-weight-bold"
                                                  th:text="${p.getCliente()}">Arroz con pollo</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500"
                                       th:href="@{/restaurante/listaPedidos}">Ver todos los
                                        pedidos</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li th:replace="AdminRestaurante/fragments/adminRestFragment.html :: cerrarsesion"></li>

                        </ul>
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <form method="get" th:action="@{/restaurante/pageVal}">

                            <div class="form-group row">
                                <div class="col-sm-3 mb-2">
                                    <select class="form-control" id="inputValoracion" name="inputValoracion">
                                        <option value="6" th:selected="${inputValoracion==6}">Valoración</option>
                                        <option value="1" th:selected="${inputValoracion==1}">1</option>
                                        <option value="2" th:selected="${inputValoracion==2}">2</option>
                                        <option value="3" th:selected="${inputValoracion==3}">3</option>
                                        <option value="4" th:selected="${inputValoracion==4}">4</option>
                                        <option value="5" th:selected="${inputValoracion==5}">5</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 mb-2">
                                    <input placeholder="Desde" class="form-control" name="fechainicio"
                                           onfocus="(this.type='date')" onblur="(this.type='text')">
                                </div>
                                <div class="col-sm-2 mb-2">
                                    <input placeholder="Hasta" class="form-control" name="fechafin"
                                           onfocus="(this.type='date')" onblur="(this.type='text')">
                                </div>
                                <div class="input-group-append col-sm-1 mb-3 ml-0 mr-0">
                                    <button class="btn" style="background-color:#701111; color:white; border:#701111"
                                            type="submit">
                                        <i class="fas fa-filter"></i>
                                    </button>
                                </div>
                                <div class="col-sm-4 mb-1 ml-0" style="text-align: right">
                                    <a class="btn btn-secondary"
                                       th:href="@{'/restaurante/reporteValoracion'}">Quitar filtros</a>
                                </div>
                            </div>
                        </form>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 " style="background-color: #701111;">

                                <div class="d-sm-flex align-items-center justify-content-between">

                                    <h5 class="font-weight-bold text-white text-lg-center mx-auto " id="nombre_pagina">REPORTE DE VALORACIONES</h5>
                                    <button th:if="${totalItems!=0}" class="btn btn-warning mr-1"
                                            id="btnExportar">Exportar
                                    </button>
                                </div>

                            </div>
                            <div class="card-body">
                                <div th:if="${totalItems!=0}" class="table-responsive">
                                    <table id="tabla" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    N°
                                                </th>
                                                <th>
                                                    Pedido
                                                </th>
                                                <th>
                                                    Valoración
                                                </th>
                                                <th>
                                                    Fecha
                                                </th>
                                                <th>
                                                    Comentario
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="lista,v:${listaValoracionReportes} ">
                                                <td th:text="${(v.index+1)+(pageSize*(currentPage - 1))}"></td>
                                                <td th:text="${lista.getCodigo()}"></td>
                                                <td th:if="${lista.getValoracion()==5 ||lista.getValoracion()==4 ||lista.getValoracion()==3 ||lista.getValoracion()==2 ||lista.getValoracion()==1}" th:text="${lista.getValoracion()}">
                                                </td>
                                                <td th:if="${lista.getValoracion()!=5 &&lista.getValoracion()!=4 &&lista.getValoracion()!=3 &&lista.getValoracion()!=2 &&lista.getValoracion()!=1}"
                                                    th:text="|${'No hay valoración'}|"></td>
                                                <td th:text="${lista.getFecha()}"></td>
                                                <td th:text="${lista.getComentario()}"></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <div th:if="${totalItems==0 && !inputValoracion.equalsIgnoreCase('6')}">
                                    <h3 class="text-lg-center text-danger">No hay resultados para su búsqueda.</h3>
                                </div>
                                <div th:if="${totalItems==0 && inputValoracion.equalsIgnoreCase('6')}">
                                    <h3 class="text-lg-center text-danger">No hay reportes de valoraciones
                                        disponibles.</h3>
                                </div>
                                <div th:if="${totalPages >= 1}" class="pagination text-center">
                                    <div th:each="i: ${#numbers.sequence(1,totalPages)}">
                                        <a th:if="${currentPage != i}"
                                           th:href="@{'/restaurante/pageVal?pageNo=' + ${i} + '&inputValoracion='+ ${inputValoracion} + '&fechainicio=' + ${fechainicio} + '&fechafin=' + ${fechafin}}"
                                           th:utext="${i}"
                                           class="active mt-2"></a>
                                        <a th:unless="${currentPage != i}"
                                           th:utext="${i}" class="text-white" style="pointer-events: none"></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" form="cerrar" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="comentarioModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleComentarioModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleComentarioModal">Arroz con pollo + Inca Kola de 500 mL</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Buen servicio, pero no llego exactamente a la hora, demoró unos minutos
                        más.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary"
                                style="background-color: #701111; color: #FFFFFF; border: #701111"
                                data-dismiss="modal">Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Scripts -->
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
        <!-- End Scripts -->

        <script>
            function exportTableToExcel(tableID, filename = '') {
                var downloadLink;
                var dataType = 'application/vnd.ms-excel';
                var tableSelect = document.getElementById(tableID);
                var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

                // Specify file name
                filename = filename ? filename + '.xls' : 'excel_data.xls';

                // Create download link element
                downloadLink = document.createElement("a");

                document.body.appendChild(downloadLink);

                if (navigator.msSaveOrOpenBlob) {
                    var blob = new Blob(['ufeff', tableHTML], {
                        type: dataType
                    });
                    navigator.msSaveOrOpenBlob(blob, filename);
                } else {
                    // Create a link to the file
                    downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

                    // Setting the file name
                    downloadLink.download = filename;

                    //triggering the function
                    downloadLink.click();
                }
            }
        </script>

    </body>

</html>