<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="AdminRestaurante/fragments/adminRestFragment.html :: head(title='Reporte de ventas')"></head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="AdminRestaurante/fragments/adminRestFragment.html :: sidebar"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <form class="form-inline">
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-bars"></i>
                            </button>
                        </form>

                        <!-- Topbar Search -->
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                            </li>

                            <!-- Nav Item - Alerts campanita Notificaciones -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter" th:if="${listaNotiRest.size()>0||!listaNotiRest.isEmpty()}" th:text="${listaNotiRest.size()}"></span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in "
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="notificacion">
                                        Nuevos Pedidos
                                    </h6>
                                    <p th:if="${listaNotiRest.size()==0||listaNotiRest.isEmpty()}"> No tiene pedidos pendientes</p>
                                    <a th:if="${listaNotiRest.size()>0||!listaNotiRest.isEmpty()}" class="dropdown-item d-flex align-items-center"
                                       th:each="p,in:${listaNotiRest}" th:href="@{'/restaurante/detallePedido?codigoPedido='+${p.codigo}}">
                                        <div class="mr-3">
                                            <div class="icon-circle notificacion">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500" th:text="${p.getLugar()+' - '+p.getHora()}">Los Olivos - 12:45 pm</div>
                                            <span class="font-weight-bold" th:text="${p.getCliente()}">Arroz con pollo</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" th:href="@{/restaurante/listaPedidos}">Ver todos los
                                        pedidos</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                              th:text="|${session.usuario.nombres} ${session.usuario.apellidos}|"></span>
                                    <img class="img-profile rounded-circle" th:src="@{/img/perfildefecto.png}"
                                         type="image/png" alt="avatar">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <form id="cerrar" th:action="@{/logout}" method="post">
                                        <a class="nav-link" data-toggle="modal"
                                           href="#logoutModal" data-target="#logoutModal"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Cerrar Sesión
                                        </a>
                                    </form>
                                </div>
                            </li>

                        </ul>
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <form>

                            <div class="form-group row">
                                <div class="col-sm-3 mb-1 ">
                                    <input type="text" class="form-control"
                                           id="exampleVentas"
                                           placeholder="Búsqueda por código">
                                </div>
                                <div class="col-sm-2 mb-2">
                                    <input placeholder="Desde" class="form-control" type="text"
                                           onfocus="(this.type='date')" onblur="(this.type='text')" id="date1">
                                </div>
                                <div class="col-sm-2 mb-2">
                                    <input placeholder="Hasta" class="form-control" type="text"
                                           onfocus="(this.type='date')" onblur="(this.type='text')" id="date2">
                                </div>

                                <div class="col-sm-2 mb-2">
                                    <select class="form-control">
                                        <option value="">Monto total</option>
                                        <option value="">S./00.00 hasta S./5.00</option>
                                        <option value="">S./5.00 hasta S./10.00</option>
                                        <option value="">S./10.00 hasta S./15.00</option>
                                        <option value="">S./15.00 hasta S./20.00</option>
                                    </select>
                                </div>
                                <div class="input-group-append col-sm-1 mb-3 ml-0">
                                    <button class="btn" style="background-color:#701111; color:white; border:#701111" type="button">
                                        <i class="fas fa-filter"></i>
                                    </button>
                                </div>
                                <div class="col-sm-2 mb-1 ml-0" style="text-align: right">
                                    <a class="btn btn-secondary">Quitar filtros</a>
                                </div>
                            </div>
                        </form>
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 " style="background-color: #701111;">

                                <div class="d-sm-flex align-items-center justify-content-between">

                                    <h5 class="font-weight-bold text-white text-lg-center mx-auto ">REPORTE DE
                                        VENTAS</h5>
                                    <a class="btn btn-warning mr-1">Exportar</a>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    N°
                                                </th>
                                                <th>
                                                    Código de pedido
                                                </th>
                                                <th>
                                                    Fecha
                                                </th>
                                                <th>
                                                    Monto total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="lista,v:${listareporte} ">
                                            <td th:text="${(v.index+1)}"></td>
                                            <td th:text="${lista.getCodigo()}"></td>
                                            <td th:text="${lista.getFecha()}"></td>
                                            <td th:text="${'S/. '+lista.getPreciototal()}"></td>
                                        </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <div class="pagination" style=" margin-left: 630px ;align-content: center">
                                    <a href="#">&laquo;</a>
                                    <a href="#" class="active">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">&raquo;</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Geek Developers &copy; 2021-1</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea Salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Al seleccionar el botón salir, usted cerrará su sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Scripts -->
        <div th:replace="AdminRestaurante/fragments/adminRestFragment.html :: scripts"></div>
        <!-- End Scripts -->

    </body>
</html>